openapi: 3.2.0
x-stoplight:
  id: zdqsi3sfgeo0b
info:
  title: Accounting API
  version: '1.0'
  description: API предоставляет возможность работать с учетом Dodo IS
  contact:
    name: Dodo Brands
    url: 'https://dodobrands.io'
  license:
    url: 'https://cdn.dodostatic.com/files/docs/saas_dodopizzaru_ru.pdf'
    name: Custom
  termsOfService: 'https://cdn.dodostatic.com/files/docs/saas_dodopizzaru_ru.pdf'
servers:
  - url: 'https://api.dodois.io/accounting'
    description: RU / KZ / BY / KG / TJ / UZ
  - url: 'https://api.dodois.com/accounting'
    description: Other countries
tags:
  - name: _in_development
paths:
  /stock-transfer/transfer-items:
    get:
      operationId: get-stock-transfer-items
      tags:
        - Перемещения
      summary: Перемещения → Позиции перемещений
      description: |-
        Возвращает список перемещений сырья за указанный период (включительно), отсортированный по дате заявки на перемещение по возрастанию.

        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`). Одно перемещение может занимать несколько записей (по одной на каждую позицию) и разбиваться между страницами — при сборе данных ориентируйтесь на `transferOrderId`, а не на границы страниц.

        ### Даты перемещения:
        - `orderedAtLocal` / `orderedAtUtc` — дата заявки: когда перемещение было заказано. В предыдущей версии эндпоинта это значение возвращалось как `createdAt`;
        - `createdAt` — служебная дата появления записи в сервисе учёта. Может отличаться от даты заявки;
        - `modifiedAt` — служебная дата последнего изменения записи.

        Каждой из этих дат соответствует пара фильтров: `orderedFrom`/`orderedTo`, `createdFrom`/`createdTo`, `modifiedFrom`/`modifiedTo`.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. `orderedFrom` должен быть меньше `orderedTo`;
        4. `createdFrom` должен быть меньше `createdTo`;
        5. `modifiedFrom` должен быть меньше `modifiedTo`;
        6. `shippedFrom` должен быть меньше `shippedTo`;
        7. `receivedFrom` должен быть меньше `receivedTo`;
        8. В `statuses` следует перечислять статусы перемещений через запятую без пробелов;

        Статусы перемещений:
        <code>
        Created: 1 (Новая заявка на перемещение)
        Ordered:2 (Заказанная заявка на перемещение)
        Shipped: 3 (Отгруженная заявка на перемещение)
        Received: 4 (Полученная заявка на перемещение)
        Cancelled: 5 (Отмененная заявка на перемещение)
        </code>

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            example: 'Ordered,Shipped'
            enum:
              - Created
              - Ordered
              - Shipped
              - Received
              - Cancelled
          in: query
          name: statuses
          description: Статусы перемещений
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: orderedFrom
          description: 'Фильтр по дате заявки на перемещение, начало диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:22:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: orderedTo
          description: 'Фильтр по дате заявки на перемещение, конец диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: createdFrom
          description: 'Фильтр по служебной дате создания записи в сервисе учёта, начало диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:22:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: createdTo
          description: 'Фильтр по служебной дате создания записи в сервисе учёта, конец диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: modifiedFrom
          description: 'Фильтр по служебной дате изменения записи, начало диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:22:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: modifiedTo
          description: 'Фильтр по служебной дате изменения записи, конец диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: shippedFrom
          description: 'Фильтр по дате отгрузки, начало диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:22:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: shippedTo
          description: 'Фильтр по дате отгрузки, конец диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: receivedFrom
          description: 'Фильтр по дате получения, начало диапазона (UTC)'
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:22:53'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
          in: query
          name: receivedTo
          description: 'Фильтр по дате получения, конец диапазона (UTC)'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/takeLarge'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - transfers
                  - isEndOfListReached
                properties:
                  transfers:
                    type: array
                    description: Список записей о перемещениях сырья
                    items:
                      $ref: '#/components/schemas/StockTransfer'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос

            Коды ошибок блока details.errors:
              - `Required` - не передано обязательное поле
              - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
              - `DateOutOfRange` - передан невалидный временной интервал from-to
              - `NegativeValue` - передано отрицательное значение для параметра, принимающего только положительные числа
              - `ValueTooLarge` - переданное значение превышает максимальное значение для параметра
              - `ValueTooSmall` - переданное значение меньше минимального значения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
              examples:
                Example 1:
                  $ref: '#/components/examples/QueryTake'
                Example 2:
                  $ref: '#/components/examples/QuerySkip'
                Example 3:
                  $ref: '#/components/examples/QueryMinUnits'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:read'
  /stock-transfer/transfers:
    post:
      operationId: post-stock-transfer
      tags:
        - _in_development
      summary: Перемещения → Создание перемещения
      description: |-
        Создаёт заявку на перемещение сырья между заведениями.

        Перемещение создаётся сразу в нужном статусе:
        - `Ordered` — заявка на перемещение создана и заказана;
        - `Shipped` — перемещение создано и сразу отгружено. Обрабатывается так же, как обычное перемещение: сначала создаётся заявка, затем выполняется отгрузка.

        Других статусов при создании не бывает: перевод в статус `Received` выполняется при фактической приёмке перемещения на заведении-получателе в Додо ИС. Изменение и отмена созданных перемещений через API не поддерживаются.

        Обязательность полей зависит от статуса:
        - `orderedAt`, `expectedAt` и `items[].orderedQuantity` обязательны всегда;
        - `shippedAt` и `items[].shippedQuantity` (для каждой позиции) обязательны, если `status` = `Shipped`, и не должны передаваться, если `status` = `Ordered`. Если они переданы вместе со статусом `Ordered`, запрос отклоняется с ошибкой `InvalidValue`.

        Повторное создание перемещения с той же тройкой `originUnitId` + `destinationUnitId` + `orderedAt` отклоняется с ошибкой `TransferExists` — это защищает от дублей при повторной отправке запроса.

        ### Доступ к заведениям:
        - `Ordered` — достаточно доступа к заведению-получателю (`destinationUnitId`);
        - `Shipped` — нужен доступ и к заведению-получателю, и к заведению отгрузки (`originUnitId`).

        В ответе возвращается только идентификатор созданного перемещения. Остальные данные (номер заявки, цены, даты) можно получить в эндпоинте «Перемещения → Позиции перемещений».

        Цены и НДС в запросе не передаются — сервис рассчитывает их сам по учётным ценам сырья.

        Все даты передаются в UTC. Локальные значения дат в эндпоинте «Перемещения → Позиции перемещений» рассчитываются сервисом: `orderedAtLocal` и `expectedAtLocal` — по часовому поясу заведения-получателя, `shippedAtLocal` — по часовому поясу заведения отгрузки.

        ### Требования к телу запроса:
        - `originUnitId` и `destinationUnitId` должны различаться;
        - Между заведениями должны быть настроены перемещения: заведение отгрузки должно входить в список доступных для перемещений заведений заведения-получателя;
        - В `items` должна быть хотя бы одна позиция;
        - `stockItemId` в позициях не должны повторяться;
        - Сырьё должно быть доступно обоим заведениям (страна, бренд и подразделение сырья должны совпадать с заведениями) и не должно быть архивным;
        - Для сырья, которое учитывается в штуках, количество должно быть целым;
        - `orderedAt` и `shippedAt` не могут быть в будущем;
        - `shippedAt` не может быть раньше, чем `orderedAt`;
        - `expectedAt` не может быть раньше текущей даты в часовом поясе заведения-получателя (сравнение по дате, без времени). Из-за этого перенести «задним числом» уже состоявшееся перемещение нельзя: ожидаемая дата получения всегда сегодняшняя или будущая;
        - Ни одна из дат не может быть раньше `2011-01-01T00:00:00Z`; `expectedAt` также не может быть позже `9999-12-31T00:00:00Z`;
        - `orderedAt` не должен попадать в закрытый учётный месяц заведения-получателя, а `shippedAt` — в закрытый учётный месяц заведения отгрузки;
        - Перемещение с такими же `originUnitId`, `destinationUnitId` и `orderedAt` не должно существовать;
        - Для сырья, которое учитывается в кг или л, `items[].orderedQuantity` и `items[].shippedQuantity` должны быть меньше 10 000;
        - `items[].orderedQuantity` и `items[].shippedQuantity` не могут содержать больше 3 знаков после запятой.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStockTransferRequest'
            examples:
              ordered:
                summary: Заявка на перемещение с двумя позициями
                value:
                  originUnitId: 000d3a240c719a8711e68aba13f7f862
                  destinationUnitId: 000d3a240c719a8711e68aba13f7fc8a
                  status: Ordered
                  expectedAt: '2026-08-11T09:00:00Z'
                  orderedAt: '2026-08-10T10:00:00Z'
                  items:
                    - stockItemId: 0198f3c2a1b2c3d4e5f6a7b8c9d0e1f2
                      orderedQuantity: 12.5
                    - stockItemId: 0298f3c2a1b2c3d4e5f6a7b8c9d0e1f3
                      orderedQuantity: 5
              shipped:
                summary: 'Перемещение, созданное сразу отгруженным (отгружено меньше, чем заказано)'
                value:
                  originUnitId: 000d3a240c719a8711e68aba13f7f862
                  destinationUnitId: 000d3a240c719a8711e68aba13f7fc8a
                  status: Shipped
                  expectedAt: '2026-08-11T09:00:00Z'
                  orderedAt: '2026-08-10T10:00:00Z'
                  shippedAt: '2026-08-10T12:00:00Z'
                  items:
                    - stockItemId: 0198f3c2a1b2c3d4e5f6a7b8c9d0e1f2
                      orderedQuantity: 12.5
                      shippedQuantity: 11.352
      responses:
        '200':
          description: Перемещение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStockTransferResponse'
              example:
                transferId: 01991a7c3d5e7f8091a2b3c4d5e6f708
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок поля `code`:
            - `ValidationError` — передан некорректный запрос
            - `MonthClosed` — дата перемещения попадает в закрытый учётный месяц: `orderedAt` — для заведения-получателя, `shippedAt` (при `status` = `Shipped`) — для заведения отгрузки
            - `TransferExists` — перемещение с такими же `originUnitId`, `destinationUnitId` и `orderedAt` уже существует. Статус существующего перемещения не учитывается: отменённое перемещение тоже занимает эту тройку значений

            Коды ошибок блока `details.errors`:
            - `Required` — не передано обязательное поле
            - `InvalidValue` — передано недопустимое значение параметра (в том числе `shippedAt` или `items[].shippedQuantity` вместе со статусом `Ordered`, повторяющийся `stockItemId`, совпадающие `originUnitId` и `destinationUnitId`, отсутствие настроенных перемещений между заведениями, недоступность сырья для этих заведений, дробное количество для штучного сырья, ненастроенный НДС мануфактуры, если заведение отгрузки — мануфактура из другого юрлица, или дата (`orderedAt`, `expectedAt`, `shippedAt`), переданная не в UTC (без `Z`))
            - `InvalidDateRange` — `shippedAt` раньше `orderedAt`
            - `DateOutOfRange` — дата перемещения находится в будущем или раньше `2011-01-01T00:00:00Z`
            - `EntityNotFound` — заведение или сырьё с переданным идентификатором не существует либо удалено
            - `EntityIsArchived` — сырьё с переданным идентификатором архивировано
            - `ValueTooSmall` — значение меньше минимально допустимого
            - `ValueTooLarge` — значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` — отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` — нет доступа к api. В токене не передан необходимый scope
            - `NoAccessToUnit` — нет доступа к заведению-получателю, а для статуса `Shipped` — ещё и к заведению отгрузки. Также возвращается, если `destinationUnitId` передан пустым (все нули), а для статуса `Shipped` — если пустым передан `originUnitId`, так как проверка доступа выполняется до валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` — внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:write'
  /write-offs-by-order:
    get:
      summary: Инвентаризация → Списания сырья на производство
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    x-stoplight:
                      id: n113vxg5oj3vd
                    uniqueItems: true
                    description: Список заказов со списанным сырьем
                    items:
                      $ref: '#/components/schemas/OrderWithWriteOffsResponse'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - orders
                  - isEndOfListReached
              examples:
                Example 1:
                  value:
                    orders:
                      - orderId: 000d3a240c719a8711e68aba13f7f862
                        unitId: 000d3a240c719a8711e68aba13f7f862
                        writeOffs:
                          - orderItemId: 000d3a240c719a8711e68aba13f7f862
                            productId: 000d3a240c719a8711e68aba13f7f862
                            stockItemId: 000d3a240c719a8711e68aba13f7f862
                            stockItemName: Бекон
                            writtenOffAtLocal: '2011-08-01T18:31:42'
                            quantity: 0.352
                            measurementUnit: Kilogram
                            reason: Sale
                    isEndOfListReached: true
      operationId: get-write-offs-by-order
      description: |-
        > Бизнес-специфичные адреса `https://api.dodois.io/dodopizza/accounting`, `https://api.dodois.com/dodopizza/accounting`, `https://api.dodois.io/drinkit/accounting` и `https://api.dodois.com/drinkit/accounting` помечены как устаревшие. Используйте универсальные URL `https://api.dodois.io/accounting` и `https://api.dodois.com/accounting`.

        Возвращает списанное сырье за указанный период, использованное для приготовления заказа. Данные отсортированы по дате списания. 

        Внимание! На данный момент `orderNumber` и `productId` доступны только за последние 30 дней.

        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 10 заведений в одном запросе
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов
        3. `from` должен быть меньше, чем `to`
        4. Максимальный период запроса - 7 дней
        5. Максимальное количество записей в одном запросе `take` - 1000

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      parameters:
        - schema:
            type: string
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13'
            pattern: '^[0-9a-f]{32}(,[0-9a-f]{32})*$'
            minLength: 32
            maxLength: 329
          in: query
          name: units
          description: Список заведений (пиццерий) Dodo IS в формате UUID
          required: true
        - schema:
            type: string
            format: date-time
            example: '2011-08-01T18:31:42'
          in: query
          name: from
          description: Начало периода в формате ISO 8601
          required: true
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
          in: query
          name: to
          description: Конец периода в формате ISO 8601
          required: true
        - schema:
            type: integer
            default: 0
            example: 100
            minimum: 0
          in: query
          name: skip
          description: 'Количество записей, которые следует пропустить'
        - schema:
            type: integer
            default: 100
            example: 100
            minLength: 1
            maxLength: 1000
            maximum: 1000
            minimum: 0
            exclusiveMinimum: true
          in: query
          name: take
          description: 'Количество записей, которые следует выбрать'
      security:
        - Dodo oauth2:
            - accounting
        - Dodo oauth2:
            - 'accounting:read'
  /write-offs/stock-items:
    get:
      summary: Учёт → Списанное сырье
      tags:
        - _in_development
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  writeOffs:
                    type: array
                    description: Список записей о списаниях сырья
                    items:
                      $ref: '#/components/schemas/StockWriteOff'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - writeOffs
                  - isEndOfListReached
              examples:
                Example 1:
                  value:
                    writeOffs:
                      - writeOffId: 000d3a240c719a8711e68aba13f7f100
                        writeOffItemId: 000d3a240c719a8711e68aba13f7f101
                        unitId: 000d3a240c719a8711e68aba13f7f862
                        unitName: Сыктывкар-1
                        writtenOffAtLocal: '2011-08-01T18:31:42'
                        writtenOffAtUtc: '2011-08-01T15:31:42Z'
                        stockItemId: 000d3a240c719a8711e68aba13f7f862
                        stockItemName: Бекон
                        quantity: 0.352
                        measurementUnit: Kilogram
                        reason: Expired
                      - writeOffId: 000d3a240c719a8711e68aba13f7f200
                        writeOffItemId: 000d3a240c719a8711e68aba13f7f201
                        unitId: 000d3a240c719a8711e68aba13f7f862
                        unitName: Сыктывкар-1
                        writtenOffAtLocal: '2011-08-01T19:10:05'
                        writtenOffAtUtc: '2011-08-01T16:10:05Z'
                        stockItemId: 000d3a240c719a8711e68aba13f7f862
                        stockItemName: Бекон
                        quantity: 0.15
                        measurementUnit: Kilogram
                        reason: Defected
                    isEndOfListReached: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос

            Коды ошибок блока details.errors:
              - `Required` - не передано обязательное поле
              - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
              - `DateOutOfRange` - передан невалидный временной интервал from-to
              - `ValueTooLarge` - переданное значение превышает максимальное значение для параметра
              - `ValueTooSmall` - переданное значение меньше минимального значения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
              examples:
                Example 1:
                  $ref: '#/components/examples/QueryLargeTake'
                Example 2:
                  $ref: '#/components/examples/QuerySkip'
                Example 3:
                  $ref: '#/components/examples/QueryMinUnits'
                Example 4:
                  $ref: '#/components/examples/QueryRequiredFrom'
                Example 5:
                  $ref: '#/components/examples/QueryRequiredTo'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к одному или нескольким заведениям, переданным в параметре `units`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-write-offs-stock-items
      description: |-
        Возвращает списанное сырье за указанный период (включительно), отсортированное по дате списания.

        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. `from` должен быть меньше, чем `to`.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Dodo oauth2:
            - 'accounting:read'
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/takeLarge'
  /write-offs/products:
    get:
      summary: Учёт → Списанные продукты
      tags:
        - _in_development
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  writeOffs:
                    type: array
                    description: Список записей о списаниях продуктов
                    items:
                      $ref: '#/components/schemas/ProductWriteOff'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - writeOffs
                  - isEndOfListReached
              examples:
                Example 1:
                  value:
                    writeOffs:
                      - writeOffId: 000d3a240c719a8711e68aba13f7f300
                        writeOffItemId: 000d3a240c719a8711e68aba13f7f301
                        unitId: 000d3a240c719a8711e68aba13f7f862
                        unitName: Сыктывкар-1
                        writtenOffAtLocal: '2011-08-01T18:31:42'
                        writtenOffAtUtc: '2011-08-01T15:31:42Z'
                        reason: Expired
                        productId: 000d3a240c719a8711e68aba13f7f100
                        productName: Пепперони Большая
                        quantity: 5.3
                        stockItems:
                          - stockItemId: 000d3a240c719a8711e68aba13f7f862
                            stockItemName: Тесто
                            quantity: 0.352
                            measurementUnit: Kilogram
                          - stockItemId: 111d3a240c719a8711e68aba13f7f862
                            stockItemName: Пепперони
                            quantity: 0.12
                            measurementUnit: Kilogram
                    isEndOfListReached: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос

            Коды ошибок блока details.errors:
              - `Required` - не передано обязательное поле
              - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
              - `DateOutOfRange` - передан невалидный временной интервал from-to
              - `ValueTooLarge` - переданное значение превышает максимальное значение для параметра
              - `ValueTooSmall` - переданное значение меньше минимального значения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
              examples:
                Example 1:
                  $ref: '#/components/examples/QueryLargeTake'
                Example 2:
                  $ref: '#/components/examples/QuerySkip'
                Example 3:
                  $ref: '#/components/examples/QueryMinUnits'
                Example 4:
                  $ref: '#/components/examples/QueryRequiredFrom'
                Example 5:
                  $ref: '#/components/examples/QueryRequiredTo'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к одному или нескольким заведениям, переданным в параметре `units`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-write-offs-products
      description: |-
        Возвращает списанные продукты за указанный период (включительно), отсортированные по дате списания.

        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. `from` должен быть меньше, чем `to`.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Dodo oauth2:
            - 'accounting:read'
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/takeLarge'
  /stock-transfer/returns:
    get:
      summary: Перемещения → Возврат сырья
      tags:
        - Перемещения
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    description: Список возвратов сырья
                    items:
                      $ref: '#/components/schemas/MaterialReturn'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - result
                  - isEndOfListReached
              examples:
                Example 1:
                  value:
                    result:
                      - id: 000d3a240c719a8711e68aba13f7f862
                        transferOrderId: 000d3a240c719a8711e68aba13f7fc8a
                        originUnitId: 000d3a240c719a8711e68aba13f7f862
                        destinationUnitId: 000d3a240c719a8711e68aba13f7fc8a
                        state: Processed
                        createdAtLocal: '2024-01-05T10:30:00'
                        processedAtLocal: '2024-01-05T14:20:00'
                        items:
                          - id: 000d3a240c719a8711e68aba13f7f111
                            transferOrderItemId: 000d3a240c719a8711e68aba13f7f222
                            stockItemId: 000d3a240c719a8711e68aba13f7f333
                            measurementUnit: Kilogram
                            receivedQuantity: 10.5
                            returnQuantity: 2.3
                            state: Accepted
                            processingResult:
                              decision: WriteOff
                              writeOffReason: ShelfLifeIssue
                              writeOffComment: Истек срок годности
                            comment: Повреждена упаковка
                    isEndOfListReached: false
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `TooManyUnits` - передано слишком много юнитов (максимум 10)
              - `InvalidDateRange` - некорректный диапазон дат (from > to)
              - `DateOutOfRange` - диапазон дат превышает максимально допустимый (31 день)
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '422':
          description: |-
            #### Функциональность не поддерживается

            Возвращается для DodoPizza.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Material returns are not supported for DodoPizza business
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-material-returns
      description: |-
        Возвращает список возвратов сырья за указанный период. 

        > **Важно:** На данный момент функциональность поддерживается только для **Drinkit**. Для DodoPizza будет возвращен статус код `422 Unprocessable Entity`.

        Фильтрация по датам: в результат попадают возвраты, у которых `createdAtLocal` ИЛИ `processedAtLocal` входят в указанный диапазон `[from, to)`. Данные отсортированы по дате создания `createdAtLocal` (от новых к старым).

        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 10 заведений в одном запросе
        2. `from` должен быть меньше, чем `to`
        3. Максимальный период запроса - 31 день
        4. Максимальное количество записей в одном запросе `take` - 1000
        5. В `states` можно указать до 3 статусов одновременно
        6. Параметры `from` и `to` фильтруют возвраты по полям `createdAtLocal` ИЛИ `processedAtLocal` (OR логика)

        Статусы возвратов:
        <code>
        Created: 1 (Возврат создан)
        InProgress: 2 (Возврат в процессе обработки)
        Processed: 3 (Возврат обработан)
        </code>

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Office Manager` - Менеджер офиса
        >
        >   `Shift Manager` - Менеджер смены
      security:
        - Dodo oauth2:
            - 'accounting:read'
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
            example: '2011-08-01T18:31:42'
          description: Начало периода в формате ISO 8601 (локальное время)
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
            example: '2011-09-02T19:21:53'
          description: Конец периода в формате ISO 8601 (локальное время)
        - $ref: '#/components/parameters/skip'
        - name: take
          in: query
          schema:
            type: integer
            minimum: 1
            default: 100
            maximum: 1000
          description: 'Количество записей, которые следует выбрать (максимум 1000)'
        - schema:
            type: string
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13'
            pattern: '^[0-9a-f]{32}(,[0-9a-f]{32})*$'
            minLength: 32
            maxLength: 329
          in: query
          name: units
          description: Список заведений (пиццерий) Dodo IS в формате UUID через запятую (максимум 10)
          required: true
        - schema:
            type: string
            example: 'Created,Processed'
            enum:
              - Created
              - InProgress
              - Processed
          in: query
          name: states
          description: |-
            Фильтр по статусам возвратов через запятую. Опционально, максимум 3 статуса.

            Возможные значения:
            - `Created` - возврат создан
            - `InProgress` - возврат в процессе обработки
            - `Processed` - возврат обработан

            Можно указать несколько статусов через запятую, например: `Created,Processed`
          required: false
  /incoming-stock/supplies:
    post:
      summary: Поставки → Поступление сырья
      tags:
        - Поставки
      operationId: post-supply
      responses:
        '200':
          description: OK
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
              - `ValidationError` - передан некорректный запрос
              - `SupplyExists`  - приход с такими параметрами уже существует
              - `MonthClosed`   - месяц приема поступления уже закрыт

            Коды ошибок блока details.errors:
              - `Required`      - не передано обязательное поле
              - `InvalidInput`  - передано невалидное значение для параметра
              - `NegativeValue` - передано отрицательное значение для параметра, принимающего только положительные числа
              - `ValueTooLarge` - переданное значение превышает максимальное значение для параметра
              - `ValueTooSmall` - переданное значение меньше минимального значения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                unitId:
                  type: string
                  x-stoplight:
                    id: nnn4d7v1b7shn
                  description: Идентификатор заведения
                  pattern: '[0-9a-f]{32}'
                  example: 000d3a240c719a8711e68aba13f7f862
                  minLength: 32
                  maxLength: 32
                supplierId:
                  type: string
                  x-stoplight:
                    id: i2s50q2773ebo
                  description: Идентификатор поставщика. Можно получить через "Учет → Список поставщиков"
                  example: 000d3a240c719a8711e68aba13f7f862
                  pattern: '[0-9a-f]{32}'
                  minLength: 32
                  maxLength: 32
                invoiceNumber:
                  type: string
                  x-stoplight:
                    id: nztxfwegmdi3w
                  description: Номер накладной
                  minLength: 1
                  example: '123456789'
                invoiceDate:
                  type: string
                  x-stoplight:
                    id: ab6fb91fvxyfe
                  format: date
                  description: Дата оформления накладной
                  example: '2011-08-01'
                commercialInvoiceNumber:
                  type: string
                  nullable: true
                  x-stoplight:
                    id: nztxfwegmdi4w
                  description: Номер счет фактуры
                  minLength: 1
                  example: 1-005
                commercialInvoiceDate:
                  type: string
                  nullable: true
                  x-stoplight:
                    id: ab6fb92fvxyfe
                  format: date
                  description: Дата оформления счет фактуры
                  example: '2011-08-01'
                receiptAt:
                  type: string
                  x-stoplight:
                    id: tlmoocssrhtal
                  format: date-time
                  example: '2011-08-01T18:31:42'
                  description: Дата и время приема поступления в формате ISO 8601 (в UTC)
                containers:
                  type: array
                  x-stoplight:
                    id: y9po1wzdk8cqm
                  description: Состав поступления в тарах
                  items:
                    $ref: '#/components/schemas/SupplyStockItem'
              required:
                - unitId
                - supplierId
                - invoiceNumber
                - invoiceDate
                - receiptAt
                - containers
      description: |-
        Позволяет оформить поставку сырья поставщиком.
        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Dodo oauth2:
            - 'accounting:write'
    get:
      summary: Поставки → Приходы сырья
      tags:
        - Поставки
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    description: Список записей о приходах
                    items:
                      $ref: '#/components/schemas/IncomingStockSupply'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - result
                  - isEndOfListReached
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос

            Коды ошибок блока details.errors:
              - `Required` - не передано обязательное поле
              - `InvalidInput` - передано невалидное значение для параметра
              - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
              - `DateOutOfRange` - передан невалидный временной интервал from-to
              - `NegativeValue` - передано отрицательное значение для параметра, принимающего только положительные числа
              - `ValueTooLarge` - переданное значение превышает максимальное значение для параметра
              - `ValueTooSmall` - переданное значение меньше минимального значения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
              examples:
                Example 1:
                  $ref: '#/components/examples/QueryTake'
                Example 2:
                  $ref: '#/components/examples/QuerySkip'
                Example 3:
                  $ref: '#/components/examples/QueryMinUnits'
                Example 4:
                  $ref: '#/components/examples/QueryRequiredFrom'
                Example 5:
                  $ref: '#/components/examples/QueryRequiredTo'
                Example 6:
                  $ref: '#/components/examples/QueryIncludeRemoved'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-incoming-stock-supplies
      description: |-
        Возвращает список приходов за указанный период (включительно), сгруппированный по накладной и отсортированный по дате получения и идентификатору записи.
        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).
        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. `from` должен быть меньше, чем `to`;
        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/includeRemoved'
      security:
        - Dodo oauth2:
            - 'accounting:read'
  '/documents/{documentId}/changes':
    get:
      summary: Документы → История изменений
      tags:
        - Документы
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentChanges:
                    type: array
                    x-stoplight:
                      id: e2g5k7h9m1pq
                    uniqueItems: true
                    description: Список изменений документов
                    items:
                      $ref: '#/components/schemas/DocumentChangesResponse'
                required:
                  - documentChanges
              examples:
                Example 1:
                  value:
                    documentChanges:
                      - documentId: 000d3a240c719a8711e68aba13f7f862
                        documentType: Supply
                        documentVersion: 1
                        modifiedByUserId: 000d3a240c719a8711e68aba13f7f862
                        modifiedAt: '2011-08-01T18:31:42'
                        unitId: 000d3a240c719a8711e68aba13f7f862
                        unitName: Сыктывкар-1
                        changes:
                          - Дата счета-фактуры была изменена с 09.02.2026 на 10.02.2026.
                        componentChanges:
                          - documentItemId: 000d3a240c719a8711e68aba13f7f862
                            changes:
                              - 'Запись добавлена Тесто 20 \"Плюшка 20\" - 176 шт, сумма без НДС - 725,12, сумма НДС - 0,00, сумма с НДС - 725,12, цена за единицу шт, цена за 1 кг — 4,12.'
                              - 'Сумма с НДС: было 11,00, теперь 111,00.'
                              - 'Сумма без НДС: было 11,00, стало 111,00.'
      operationId: get-document-changes
      description: |-
        Получение хронологии изменений документа.
        Метод доступен для приходов сырья и перемещений.
        Ответ содержит массив версий документа. Каждая версия включает в себя массив изменений основного документа и соответствующий список изменений его элементов (позиций/компонентов).
        Сортировка записей - по возрастанию номера версии. Уникальность каждого элемента массива обеспечивается по номеру версии.
        ### Требования к параметрам запроса:
        1. В path-параметре `documentId` следует указать UUID документа;
        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift Manager` - Менеджер смены
      parameters:
        - schema:
            type: string
            example: 000d3a240c719a8711e68aba13f7f862
            pattern: '[0-9a-f]{32}'
            minLength: 32
            maxLength: 32
          in: path
          name: documentId
          description: ID документа в формате UUID. Соответствует идентификатору из "Поставки → Приходы сырья" (`incomingStockOrderId`) или "Перемещения → Позиции перемещений" (`transferOrderId`)
          required: true
      security:
        - Dodo oauth2:
            - 'accounting:read'
  /catalogs/stock-items:
    get:
      summary: Справочники → Сырьё
      tags:
        - Справочники
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  stockItems:
                    type: array
                    description: Список сырья
                    items:
                      $ref: '#/components/schemas/StockItem'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - stockItems
                  - isEndOfListReached
              examples:
                Example 1:
                  value:
                    stockItems:
                      - id: 000d3a240c719a8711e68aba13f7f862
                        name: Томаты
                        measurementUnit: Kilogram
                        categoryName: Ingredient
                        isLocal: false
                        isRemoved: false
                        isArchived: false
                        isProducible: false
                        modifiedAt: '2025-01-15T10:30:00.000100Z'
                    isEndOfListReached: false
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `TooManyUnits` - передано слишком много юнитов (максимум 30)
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-stock-items
      description: |-
        Возвращает список сырья.

        Если указан параметр `modifiedAt`, результат отсортирован по дате последнего изменения (`modifiedAt`) по возрастанию, а затем по идентификатору. Иначе — только по идентификатору.

        По умолчанию возвращает только федеральное сырьё. 

        Если указан параметр `units`, дополнительно возвращает локальное сырьё для указанных заведений.

        Поддерживается два способа пагинации:
        - **Offset-based:** нужно указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).
        - **Cursor-based:** нужно использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса. Повторять до `isEndOfListReached = true`.
        В обоих случаях нужно указывать `take` - сколько записей нужно получить.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов
        3. `modifiedAt` должен быть в формате ISO 8601 (UTC)
        4. `includeRemoved` и `includeArchived` — булевые значения, по умолчанию `false`
        5. `skip` должен быть не меньше 0, по умолчанию 0
        6. `take` должен быть от 1 до 1000, по умолчанию 100
      parameters:
        - name: units
          in: query
          required: false
          schema:
            type: string
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a'
            pattern: '^[0-9a-f]{32}(,[0-9a-f]{32})*$'
            minLength: 32
            maxLength: 989
          description: 'Список заведений Dodo IS в формате UUID через запятую. Если указан, в ответ дополнительно включается локальное сырьё для этих заведений'
        - name: modifiedAt
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2025-01-15T10:30:00.000012Z'
          description: Фильтр по дате последнего изменения в формате ISO 8601 (UTC). Возвращает записи с `modifiedAt >= значение`. Используется для cursor-based пагинации
        - $ref: '#/components/parameters/includeRemoved'
        - $ref: '#/components/parameters/includeArchived'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/takeLarge'
      security:
        - Dodo oauth2:
            - 'accounting:read'
  /manufactures/catalogs/stock-items/compositions:
    get:
      operationId: get-stock-items-compositions
      tags:
        - _in_development
      summary: Справочники → Составы сырья
      description: |-
        Возвращает список федеральных составов сырья, изменённых с момента `modifiedAt` (включительно), отсортированных по возрастанию даты изменения.

        В состав конкретного сырья входит информация о:
        - Идентификаторе сырья, чей состав изменился;
        - Дате изменения состава сырья;
        - Новом списке дочернего сырья, из которого состоит изменённое сырьё, с указанием количества дочернего сырья в единице родительского.

        Получение всего списка выполняется следующим образом:
        - В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;
        - Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;
        - Повторять до достижения `isEndOfListReached = true`.

        При необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.

        Запись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:
          - если запись была изменена в процессе получения списка;
          - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию "дата изменения" >= modifiedAt.

        Гарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.

        Сырьё без состава в общем случае не возвращается в этом эндпоинте. В частности, если у сырья был удалён состав в какой-то момент, то состав для такого сырья просто перестанет возвращаться в этом эндпоинте.

        Важное замечание: на текущий момент есть небольшой шанс, что сырьё с удалённым составом всё же вернётся здесь с пустым массивом в `stockItemsCompositions.composition`, такую ситуацию нужно обработать.
      parameters:
        - $ref: '#/components/parameters/requiredModifiedAt'
        - $ref: '#/components/parameters/takeLarge'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStockItemsCompositionsResponse'
              example:
                stockItemsCompositions:
                  - stockItemId: 000d3a240c719a8711e68aba13f7f862
                    composition:
                      - stockItemId: 111d3a240c719a8711e68aba13f7f862
                        quantity: 350
                        netQuantity: 320
                        measurementUnit: Gram
                      - stockItemId: 222d3a240c719a8711e68aba13f7f862
                        quantity: 0.1
                        netQuantity: 0.095
                        measurementUnit: Liter
                    modifiedAt: '2024-03-15T14:30:00.000001Z'
                  - stockItemId: 333d3a240c719a8711e68aba13f7f862
                    composition:
                      - stockItemId: 444d3a240c719a8711e68aba13f7f862
                        quantity: 100
                        netQuantity: 90
                        measurementUnit: Quantity
                    modifiedAt: '2024-03-15T16:30:00.000002Z'
                isEndOfListReached: false
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/catalogs/stock-items/{id}/composition':
    get:
      operationId: get-stock-items-composition
      tags:
        - _in_development
      summary: Справочники → Состав сырья
      description: |-
        Возвращает состав сырья.

        В состав сырья входит информация о:
        - Идентификаторе сырья, чей состав изменился;
        - Дате изменения состава сырья;
        - Новом списке дочернего сырья, из которого состоит изменённое сырьё, с указанием количества дочернего сырья в единице родительского.

        Если сырьё с указанным `id` не найдено — возвращает `404`.
        Если сырьё найдено, но состав не задан — возвращает `200` с пустым массивом `composition`.
      parameters:
        - name: id
          in: path
          description: Уникальный идентификатор сырья
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockItemComposition'
              example:
                stockItemId: 000d3a240c719a8711e68aba13f7f862
                composition:
                  - stockItemId: 111d3a240c719a8711e68aba13f7f862
                    quantity: 0.35
                    netQuantity: 0.32
                  - stockItemId: 222d3a240c719a8711e68aba13f7f862
                    quantity: 0.1
                    netQuantity: 0.095
                modifiedAt: '2024-03-15T14:30:00.000001Z'
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: '#### Сырьё с указанным `id` не найдено'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  /manufactures/catalogs/shelf-life-settings:
    get:
      operationId: get-shelf-life-settings
      summary: Справочники → Настройки условий хранения
      description: |-
        Возвращает список настроек условий хранения сырья, изменённых с момента `modifiedAt` (включительно), отсортированных по возрастанию даты изменения.

        Получение всего списка выполняется следующим образом:
        - В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;
        - Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;
        - Повторять до достижения `isEndOfListReached = true`.

        При необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.

        Запись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:
          - если запись была изменена в процессе получения списка;
          - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию "дата изменения" >= modifiedAt.

        Гарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.
      tags:
        - _in_development
      parameters:
        - $ref: '#/components/parameters/requiredModifiedAt'
        - $ref: '#/components/parameters/takeLarge'
        - $ref: '#/components/parameters/includeRemoved'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShelfLifeSettingsResponse'
              example:
                shelfLifeSettings:
                  - id: 000d3a240c719a8711e68aba13f7f862
                    stockItemId: 111d3a240c719a8711e68aba13f7f862
                    manufacturer: ООО Ромашка
                    isRemoved: false
                    modifiedAt: '2024-03-15T14:30:00.000011Z'
                    packagingSettings:
                      items:
                        - id: 222d3a240c719a8711e68aba13f7f862
                          labels:
                            - Маркировка 1
                          shelfLifeHours: 48
                          storageTemperature: от +2 до +6 °C
                    defrostSettings:
                      defrostingHours: 12
                      shelfLifeHours: 24
                      defrostTemperature: от +2 до +6 °C
                    storageSettings:
                      items:
                        - id: 333d3a240c719a8711e68aba13f7f862
                          labels:
                            - Холодильник
                          shelfLifeHours: 72
                          storageTemperature: от -18 до -24 °C
                isEndOfListReached: false
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/catalogs/shelf-life-settings/{id}':
    get:
      operationId: get-shelf-life-settings-id
      summary: Справочники → Информация о настройках условий хранения
      description: Возвращает настройки условий хранения
      tags:
        - _in_development
      parameters:
        - name: id
          in: path
          description: Уникальный идентификатор настроек условий хранения сырья
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShelfLifeSettings'
              example:
                id: 000d3a240c719a8711e68aba13f7f862
                stockItemId: 111d3a240c719a8711e68aba13f7f862
                manufacturer: ООО Ромашка
                isRemoved: false
                modifiedAt: '2024-03-15T14:30:00.000011Z'
                packagingSettings:
                  items:
                    - id: 222d3a240c719a8711e68aba13f7f862
                      labels:
                        - Маркировка 1
                      shelfLifeHours: 48
                      storageTemperature: от +2 до +6 °C
                defrostSettings:
                  defrostingHours: 12
                  shelfLifeHours: 24
                  defrostTemperature: от +2 до +6 °C
                storageSettings:
                  items:
                    - id: 333d3a240c719a8711e68aba13f7f862
                      labels:
                        - Холодильник
                      shelfLifeHours: 72
                      storageTemperature: от -18 до -24 °C
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: '#### Настройки условий хранения не найдены'
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/{manufactureId}/containers':
    get:
      operationId: get-manufacture-containers
      summary: Мануфактуры → Типы тар
      description: |-
        Возвращает список типов тар мануфактуры, изменённых с момента `modifiedAt` (включительно), отсортированных по возрастанию даты изменения.

        Получение всего списка выполняется следующим образом:
        - В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;
        - Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;
        - Повторять до достижения `isEndOfListReached = true`.

        При необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.

        Запись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:
          - если запись была изменена в процессе получения списка;
          - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию "дата изменения" >= modifiedAt.

        Гарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.

        При изменении привязки сырья к типу тары будет изменён `modifiedAt` у типа тары, хотя фактических изменений в данных типа тары не будет. Такую ситуацию тоже нужно дедуплицировать.
      tags:
        - _in_development
      parameters:
        - name: manufactureId
          in: path
          required: true
          description: Уникальный идентификатор мануфактуры
          schema:
            $ref: '#/components/schemas/Id'
        - $ref: '#/components/parameters/requiredModifiedAt'
        - $ref: '#/components/parameters/takeLarge'
        - $ref: '#/components/parameters/includeRemoved'
      responses:
        '200':
          description: |-
            OK. Возвращает список типов тар для мануфактуры.

            Если мануфактура существует, но для неё на текущий момент не назначено типов тар мануфактуры, возвращается объект ответа, в котором поле `containers` содержит пустой список `[]`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManufactureContainersResponse'
              examples:
                hasContainers:
                  summary: Для мануфактуры заданы типы тар
                  value:
                    containers:
                      - id: 000d3a240c719a8711e68aba13f7f862
                        name: Коробка маленькая
                        measurementUnit: Kilogram
                        quantity: 5.5
                        isRemoved: false
                        modifiedAt: '2024-03-15T14:30:00.000011Z'
                      - id: 000d3a240c719a8711e68aba13f7f863
                        name: Коробка большая
                        measurementUnit: Kilogram
                        quantity: 100
                        isRemoved: true
                        modifiedAt: '2024-03-18T00:30:00.000011Z'
                    isEndOfListReached: false
                noContainers:
                  summary: Мануфактура не имеет типов тар
                  value:
                    containers: []
                    isEndOfListReached: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: |-
            #### Мануфактура не найдена

            Возвращается если мануфактуры с переданным manufactureId не существует
        '500':
          description: |-
            #### Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/{manufactureId}/stock-items/containers/bindings':
    get:
      operationId: get-manufacture-stock-items-containers-bindings
      summary: Мануфактуры → Привязки типов тар к сырью
      description: |-
        Возвращает список привязок типов тар к сырью для указанной мануфактуры, изменённых с момента `modifiedAt` (включительно), отсортированных по возрастанию даты изменения.

        Привязка типа тары к сырью определяет в какой таре мануфактура поставляет заказанное сырьё. В настоящее время для каждого сырья может быть задана только одна привязка к типу тары.

        Опционально можно указать идентификатор сырья (параметр `stockItemId`), чтобы получить информацию о том какие к этому сырью привязаны типы тар.

        Получение всего списка выполняется следующим образом:
        - В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;
        - Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;
        - Повторять до достижения `isEndOfListReached = true`.

        При необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.

        Запись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:
          - если запись была изменена в процессе получения списка;
          - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию "дата изменения" >= modifiedAt.

        Гарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.
      tags:
        - _in_development
      parameters:
        - name: manufactureId
          in: path
          required: true
          description: Уникальный идентификатор мануфактуры
          schema:
            $ref: '#/components/schemas/Id'
        - $ref: '#/components/parameters/requiredModifiedAt'
        - $ref: '#/components/parameters/takeLarge'
        - $ref: '#/components/parameters/includeRemoved'
        - name: stockItemId
          in: query
          required: false
          description: 'Уникальный идентификатор сырья для фильтрации. Если указан, возвращаются только привязки типов тар для данного сырья.'
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: |-
            OK. Возвращает список привязок типов тар к сырью для мануфактуры.

            Если мануфактура существует, но для неё на текущий момент нет привязок, возвращается объект с пустым списком привязок: `bindings: []` и признаком завершения списка `isEndOfListReached: true`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManufactureStockItemsContainersBindingsResponse'
              examples:
                hasBindings:
                  summary: Для мануфактуры заданы привязки типов тар к сырью
                  value:
                    bindings:
                      - containerId: 000d3a240c719a8711e68aba13f7f863
                        stockItemId: 111d3a240c719a8711e68aba13f7f864
                        isRemoved: false
                        modifiedAt: '2024-03-15T14:30:00.000011Z'
                      - containerId: 000d3a240c719a8711e68aba13f7f866
                        stockItemId: 222d3a240c719a8711e68aba13f7f867
                        isRemoved: true
                        modifiedAt: '2024-03-18T00:30:00.000011Z'
                  isEndOfListReached: false
                noBindings:
                  summary: Мануфактура не имеет привязок типов тар к сырью
                  value:
                    bindings: []
                    isEndOfListReached: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: |-
            #### Мануфактура не найдена

            Возвращается если мануфактуры с переданным manufactureId не существует
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/{manufactureId}/stock-items/available':
    get:
      operationId: get-manufacture-available-stock-items
      summary: Мануфактуры → Доступное к заказу сырьё
      description: |-
        Возвращает список доступного к заказу сырья мануфактуры, изменённого с момента `modifiedAt` (включительно), отсортированного по возрастанию даты изменения.

        Получение всего списка выполняется следующим образом:
        - В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;
        - Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;
        - Повторять до достижения `isEndOfListReached = true`.

        При необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.

        Запись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:
          - если запись была изменена в процессе получения списка;
          - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию "дата изменения" >= modifiedAt.

        Гарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.
      tags:
        - _in_development
      parameters:
        - name: manufactureId
          in: path
          required: true
          description: Уникальный идентификатор мануфактуры
          schema:
            $ref: '#/components/schemas/Id'
        - $ref: '#/components/parameters/requiredModifiedAt'
        - $ref: '#/components/parameters/takeLarge'
        - $ref: '#/components/parameters/includeRemoved'
      responses:
        '200':
          description: |-
            OK. Возвращает список доступного сырья мануфактуры.

            Если мануфактура существует, но для неё на текущий момент не назначено доступного сырья, возвращается объект ответа, в котором поле `stockItems` содержит пустой список `[]`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManufactureAvailableStockItemsResponse'
              examples:
                hasAvailableStockItems:
                  summary: Для мануфактуры задано доступное сырьё
                  value:
                    stockItems:
                      - stockItemId: 000d3a240c719a8711e68aba13f7f862
                        isRemoved: false
                        modifiedAt: '2024-03-15T14:30:00.000011Z'
                      - stockItemId: 000d3a240c719a8711e68aba13f7f863
                        isRemoved: true
                        modifiedAt: '2024-03-18T00:30:00.000011Z'
                    isEndOfListReached: false
                noAvailableStockItems:
                  summary: Мануфактура не имеет доступного сырья
                  value:
                    stockItems: []
                    isEndOfListReached: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: |-
            #### Мануфактура не найдена

            Возвращается если мануфактуры с переданным manufactureId не существует
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/{manufactureId}/stock-items/available/{stockItemId}':
    put:
      operationId: put-manufacture-available-stock-item
      summary: Мануфактуры → Добавление доступного сырья
      description: |-
        Добавляет сырьё в список доступного сырья мануфактуры. После добавления сырьё становится доступным
        для заказа в клиентских заказах юнитов в указанную мануфактуру.

        Если сырьё уже присутствует в списке доступного сырья, операция завершается успешно без изменений, сырьё останется доступным.
        Удалённое (`isRemoved`), архивированное (`isArchived`) или несуществующее сырьё не может быть добавлено в список доступного сырья.
      tags:
        - _in_development
      parameters:
        - name: manufactureId
          in: path
          required: true
          description: Уникальный идентификатор мануфактуры
          schema:
            $ref: '#/components/schemas/Id'
        - name: stockItemId
          in: path
          required: true
          description: Уникальный идентификатор сырья
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Сырьё успешно добавлено в список доступного сырья мануфактуры или уже было в нём
        '400':
          description: |-
            #### Некорректный запрос.

            Возможные коды ошибок поля code:
            - `ValidationError` — общая ошибка валидации

            Коды ошибок блока details.errors:
            - `EntityNotFound` — сырьё не существует
            - `EntityIsRemoved` — сырьё удалено и не может быть добавлено
            - `EntityIsArchived` — сырьё архивировано и не может быть добавлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Возможные коды ошибок поля code:
            - `InsufficientRoles` — отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` — нет доступа к api. В токене не передан необходимый scope
            - `NoAccessToUnit` — нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: |-
            #### Мануфактура не найдена

            Возвращается если мануфактуры с переданным manufactureId не существует
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
    delete:
      operationId: delete-manufacture-available-stock-item
      summary: Мануфактуры → Удаление доступного сырья
      description: |-
        Удаляет сырьё из списка доступного сырья мануфактуры. После удаления сырьё перестаёт быть доступным
        для заказа в клиентских заказах юнитов в указанную мануфактуру.

        Если сырьё отсутствует в списке доступного сырья, операция завершается успешно без изменений.
      tags:
        - _in_development
      parameters:
        - name: manufactureId
          in: path
          required: true
          description: Уникальный идентификатор мануфактуры
          schema:
            $ref: '#/components/schemas/Id'
        - name: stockItemId
          in: path
          required: true
          description: Уникальный идентификатор сырья
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Сырьё успешно удалено из списка доступного сырья мануфактуры или уже отсутствовало в нём
        '400':
          description: |-
            #### Некорректный запрос.

            Возможные коды ошибок поля code:
            - `ValidationError` — общая ошибка валидации

            Коды ошибок блока details.errors:
            - `EntityNotFound` — сырьё не существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Возможные коды ошибок поля code:
            - `InsufficientRoles` — отсутствует необходимая роль для выполнения запроса
            - `InsufficientScopes` — нет доступа к api. В токене не передан необходимый scope
            - `NoAccessToUnit` — нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '404':
          description: |-
            #### Мануфактура не найдена

            Возвращается если мануфактуры с переданным manufactureId не существует
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      security:
        - Dodo oauth2:
            - 'accounting:manufacture'
  '/manufactures/{manufactureId}/orders':
    get:
      operationId: get-manufacture-orders
      summary: Мануфактуры → Заказы кофеен
      description: |-
        Возвращает список заказов кофеен, адресованных указанной мануфактуре, изменённых с момента `modifiedAt` (включительно), отсортированных по возрастанию даты изменения.

        Получение всего списка выполняется следующим образом:
        - В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;
        - Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;
        - Повторять до достижения `isEndOfListReached = true`.

        При необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.

        Запись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:
          - если запись была изменена в процессе получения списка;
          - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию "дата изменения" >= modifiedAt.

        Гарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.

        Возвращаются заказы во всех статусах. Опционально можно фильтровать по статусу с помощью параметра `statuses`.

        В составе заказа возвращаются только актуальные позиции. Позиция, которую мануфактура не подтвердила или не отправила, либо которую не приняла кофейня, в составе заказа не возвращается.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
      tags:
        - _in_development
      parameters:
        - name: manufactureId
          in: path
          required: true
          description: Уникальный идентификатор мануфактуры
          schema:
            $ref: '#/components/schemas/Id'
        - $ref: '#/components/parameters/requiredModifiedAt'
        - $ref: '#/components/parameters/take'
        - name: statuses
          in: query
          required: false
          description: |-
            Фильтр по статусам заказа. Если не указан, возвращаются заказы во всех статусах.

            Можно передать несколько статусов через запятую: `?statuses=Created,Confirmed`.

            Допустимые значения:
              - `Created` — создан
              - `Confirmed` — подтверждён мануфактурой
              - `Sent` — отправлен
              - `Delivered` — доставлен
          schema:
            type: string
            enum:
              - Created
              - Confirmed
              - Sent
              - Delivered
            example: 'Created,Confirmed'
      responses:
        '200':
          description: |-
            OK. Возвращает список заказов кофеен для мануфактуры.

            Если мануфактура существует, но заказов нет, возвращается объект ответа, в котором поле `orders` содержит пустой список `[]`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetManufactureOrdersResponse'
              examples:
                hasOrders:
                  summary: Есть заказы кофеен
                  value:
                    orders:
                      - id: 000d3a240c719a8711e68aba13f7f862
                        unitId: 111d3a240c719a8711e68aba13f7f863
                        status: Created
                        createdAt: '2024-03-15T09:00:00.000000Z'
                        plannedDate: '2024-03-18'
                        modifiedAt: '2024-03-15T09:00:00.000000Z'
                        items:
                          - stockItemId: aaa1a240c719a8711e68aba13f7f111
                            containerId: 000d3a240c719a8711e68aba13f7f863
                            quantity: 10.5
                            measurementUnit: Kilogram
                          - stockItemId: bbb2b240c719a8711e68aba13f7f222
                            containerId: null
                            quantity: 3
                            measurementUnit: Liter
                    isEndOfListReached: true
                noOrders:
                  summary: Заказов нет
                  value:
                    orders: []
                    isEndOfListReached: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ошибок блока errors:
              - `Required` - не передано обязательное поле
              - `ValueTooSmall` - значение меньше минимально допустимого
              - `ValueTooLarge` - значение превышает максимально допустимое
              - `InvalidValue` - передано недопустимое значение параметра
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
[...]
