openapi: 3.0.1
info:
  title: Dodo IS API
  version: '1.0'
  contact:
    email: support@dodopizza.com
    name: Dodo Brands
    url: 'https://dodobrands.io/'
  termsOfService: 'https://cdn.dodostatic.net/files/docs/saas_dodopizzaru_ru.pdf'
  license:
    url: 'https://cdn.dodostatic.net/files/docs/saas_dodopizzaru_ru.pdf'
    name: Custom
servers:
  - url: 'https://api.dodois.io/dodopizza/ru'
    description: Россия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/ae'
    description: ОАЭ — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/am'
    description: Армения — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/az'
    description: Азербайджан — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/bg'
    description: Болгария — Dodopizza
  - url: 'https://api.dodois.io/dodopizza/by'
    description: Беларусь — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/cy'
    description: Кипр — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/de'
    description: Германия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/ee'
    description: Эстония — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/es'
    description: Испания — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/gb'
    description: Великобритания — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/ge'
    description: Грузия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/hr'
    description: Хорватия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/hu'
    description: Венгрия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/id'
    description: Индонезия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/iq'
    description: Ирак — Dodopizza
  - url: 'https://api.dodois.io/dodopizza/kg'
    description: Киргизия — Dodopizza
  - url: 'https://api.dodois.io/dodopizza/kz'
    description: Казахстан — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/lt'
    description: Литва — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/ma'
    description: Марокко — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/md'
    description: Молдова — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/me'
    description: Черногория — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/mn'
    description: Монголия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/mx'
    description: Мексика — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/ng'
    description: Нигерия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/pl'
    description: Польша — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/qa'
    description: Катар — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/ro'
    description: Румыния — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/rs'
    description: Сербия — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/si'
    description: Словения — Dodopizza
  - url: 'https://api.dodois.io/dodopizza/tj'
    description: Таджикистан — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/tr'
    description: Турция — Dodopizza
  - url: 'https://api.dodois.io/dodopizza/uz'
    description: Узбекистан — Dodopizza
  - url: 'https://api.dodois.com/dodopizza/vn'
    description: Вьетнам — Dodopizza
  - url: 'https://api.dodois.com/drinkit/ae'
    description: ОАЭ — Drinkit
  - url: 'https://api.dodois.com/drinkit/az'
    description: Азербайджан — Drinkit
  - url: 'https://api.dodois.io/drinkit/kz'
    description: Казахстан — Drinkit
  - url: 'https://api.dodois.io/drinkit/ru'
    description: Россия — Drinkit
  - url: 'https://api.dodois.com/drinkit/us'
    description: США — Drinkit
paths:
  /production/orders-handover-time:
    parameters: []
    get:
      summary: Производство → Время выдачи заказа
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ordersHandoverTime:
                    type: array
                    description: Время выдачи заказа
                    items:
                      $ref: '#/components/schemas/HandoverTime'
                required:
                  - ordersHandoverTime
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
        '429':
          description: Too Many Requests
      operationId: get-production-ordershandovertime
      description: |-
        Возвращает время выдачи заказов за выбранный период по пиццериям (`units`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.

        ### Округление до целых секунд:
        Длительность событий (например, `cookingTime`) представлена целыми числами и округляется до целых секунд.
        0.5 и больше секунд округляется вверх, 0.4 и меньше - вниз.

        ### Исключенные данные:
        Напитки и неприготовляемые продукты исключаются из выборки.
        В расчет не попадают заказы с временем приготовления выпекаемых продуктов меньше 1 минуты, заказы без выпекаемых продуктов (кусочки, напитки, фонданы и т.д.) и заказы с временем выдачи больше 1 часа.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            format: date-time
            example: '2011-08-01T18:31:42'
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601
          style: form
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601
          style: form
      x-internal: false
      security:
        - Authorization:
            - productionefficiency
            - 'user.role:read'
      tags:
        - Производство
  /orders/clients-statistics:
    parameters: []
    get:
      summary: Заказы → Статистика по новым клиентам
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  newClientsCount:
                    type: integer
                    x-stoplight:
                      id: bf8vjxb3scw9n
                    description: Количество новых клиентов
                  dineInNewClientsCount:
                    type: integer
                    x-stoplight:
                      id: bf8vjxb3scw9n
                    description: Количество новых клиентов в заведении
                  deliveryAndTakeawayNewClientsCount:
                    type: integer
                    x-stoplight:
                      id: bf8vjxb3scw9n
                    description: Количество новых клиентов на доставку/самовывоз
                  oldClientsCount:
                    type: integer
                    x-stoplight:
                      id: bf8vjxb3scw9n
                    description: Количество старых клиентов
                required:
                  - newClientsCount
                  - dineInNewClientsCount
                  - deliveryAndTakeawayNewClientsCount
                  - oldClientsCount
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:

            - `ValidationError` - передан некорректный запрос
            Коды ошибок блока `details.errors`:

            - `Required` - не передано обязательное поле.
            - `InvalidInput` - передано невалидное значение для параметра
            - `DateOutOfRange` - невозможность построения прогноза на переданную дату
            - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав


            Коды ошибок:
            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-orders-client-statistics
      description: |-
        Получение статистики по клиентам в заведении.
        Возвращает информацию о новых клиентах в заведении и на достаку.
        Так же информацию о старых клиентах.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. `fromDate` должен быть меньше или равен `toDate`.
        4. Максимальный период запроса - 31 день

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >    
        >   `Shift supervisor` - Менеджер смены
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
      x-internal: false
      security:
        - Authorization:
            - orders
            - 'user.role:read'
      tags:
        - Заказы
  /production/tracking-metrics/summary:
    get:
      summary: Производство → Метрики с трекинга (Сводные)
      description: |-
        Позволяет получить сводную информацию о времени, проведенном продуктом на различных станциях производства за указанный период.

        При запросе за определенный период (`from`, `to`) и запросе по нескольким заведениям (`units`), будет возвращено среднее значение по каждому продукту за весь интервал from to отдельно для каждого заведения.

        ### Требования к query параметрам: 
        1. В `units` можно передать 1 заведение;
        3. В `products` можно перечислить до 30 продуктов в одном запросе; 
        4. В `products` следует перечислять UUID-ы строго через запятую без пробелов; 
        5. Диапазон дат между `toDate` и `fromDate` параметрами не должен превышать 7 деней.
        6. В ответе будет отображаться информация за период `fromDate`-`toDate` включительно `fromDate`.
        7. Если нужно получить данные за один день укажите `fromDate` = `toDate`.

        >#### Доступно для следующих ролей: 
        >   `Division administrator` - Администратор подразделения 
        >
        >   `Store Manager` - Менеджер офиса 
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Authorization:
            - productionefficiency
            - 'user.role:read'
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/products'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/TrackingMetricsSummaryResult'
                  isEndOfListReached:
                    type: boolean
                    description: Признак достижения конца списка
                required:
                  - result
                  - isEndOfListReached
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа: 

            - `ValidationError` - передан некорректный запрос
            Коды ошибок блока `details.errors`: 
            - `Required` - не передано обязательное поле 
            - `InvalidInput` - передано невалидное значение для параметра 
            - `UnitNotFound` - заведение не найдено 
            - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе 
            - `ToManyProducts` - количество переданных продуктов превышает лимит в одном запросе 
            - `DateOutOfRange` - превышен максимальный временной период запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
            - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-production-tracking-metrics-summary
      tags:
        - Производство
  /production/orders-handover-statistics:
    get:
      summary: Производство → Статистика выдачи заказов
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ordersHandoverStatistics:
                    type: array
                    description: Статистика выдачи заказов
                    items:
                      $ref: '#/components/schemas/OrdersHandoverStatistics'
        '400':
          description: Bad Request
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      operationId: get-production-orders-handover-time-statistics
      description: |-
        Возвращает агрегированные данные по выдаче заказов за выбранный период по пиццериям (`units`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        1. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        1. В `salesChannels` следует перечислять каналы продаж (Delivery,DineIn,TakeAway) строго через запятую без пробелов;
        1. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.

        ### Округление до целых секунд:
        Длительность событий (например, `avgCookingTime`) представлена целыми числами и округляется до целых секунд.
        0.5 и больше секунд округляется вверх, 0.4 и меньше - вниз.

        ### Исключенные данные:
        Напитки и неприготовляемые продукты исключаются из выборки.
        В расчет не попадают заказы с временем приготовления выпекаемых продуктов меньше 1 минуты, заказы без выпекаемых продуктов (кусочки, напитки, фонданы и т.д.) и заказы с временем выдачи больше 1 часа.
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - schema:
            type: string
            example: 'Delivery,DineIn,TakeAway'
          in: query
          name: salesChannels
          description: Фильтр по типу заказа Доставка/Ресторан/Самовывоз
      security:
        - Authorization:
            - productionefficiency
            - 'user.role:read'
      tags:
        - Производство
    parameters: []
  /production/productivity:
    parameters: []
    get:
      summary: Производство → Производительность
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productivityStatistics:
                    type: array
                    description: Статистика производительности по пиццериям
                    items:
                      $ref: '#/components/schemas/ProductivityStatistics'
                required:
                  - productivityStatistics
        '400':
          description: Bad Request (from or to parameter is missing or not rounded to hour)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-staff-productivity
      description: |-
        Возвращает метрики производительности за выбранный период и указанным пиццериям (`units`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        1. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        1. Диапазон дат между `from` и `to` параметрами не должен превышать 31 день;
        1. Даты `from` и `to` должны быть округлены до часов.


        Как расчитывается показатель «Скорость»

        Скорость — процент продуктов, изготовленных быстрее установленного стандартного времени. Для расчета скорости количество продуктов, приготовленных вовремя за период, делится на общее количество продуктов за этот период.<br />
        ⚠️ Скорость за день не считается, как средняя скоростей за смены.

        *Смена 1: вовремя приготовили 10 продуктов, всего — 100. Скорость за смену 10 / 100 = 10%.*<br />
        *Смена 2: вовремя приготовили 50 продуктов, всего — 150. Скорость за смену 50 /150 = 30%.*<br />
        *Показатель скорость будет = (10 + 50) / (100 + 150) = 24. Если вы посчитаете среднее по сменам, то результат будет некорректный (10 + 30) / 2 = 20.*

        **Важное замечание:** Не учитываются отмененные заказы (State != 12)
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            format: date-time
            example: '2011-08-01T18:00:00'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:00:00$'
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601 округлённого до часов
          style: form
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:00:00'
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:00:00$'
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601 округлённого до часов
          style: form
      security:
        - Authorization:
            - productionefficiency
            - 'user.role:read'
      tags:
        - Производство
  /production/stop-sales-channels:
    get:
      summary: Производство → Стоп-продажи по каналам продаж
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  stopSalesBySalesChannels:
                    description: Данные о стопах продаж сгруппированные по заведениям и каналам продаж
                    type: array
                    items:
                      $ref: '#/components/schemas/StopSalesBySalesChannelsItem'
                required:
                  - stopSalesBySalesChannels
              examples: {}
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-production-stop-sales-saleschannels
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            example: '2011-08-01T18:31:42'
            format: date-time
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601
          style: form
        - schema:
            type: string
            example: '2011-09-02T19:21:53'
            format: date-time
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601
          style: form
      description: |-
        Возвращает данные о стопах продаж за период для набора пиццерий (`units`).
        Стопы сгруппированы по пиццериям и каналам продаж: доставка, самовывоз, ресторан.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Authorization:
            - stopsales
            - 'user.role:read'
      tags:
        - Производство
    parameters: []
  /production/stop-sales-ingredients:
    get:
      summary: Производство → Стоп-продажи по ингредиентам
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  stopSalesByIngredients:
                    type: array
                    description: Данные о стопах продаж сгруппированные по заведениям и ингредиентам
                    items:
                      $ref: '#/components/schemas/StopSalesByIngredientsItem'
                required:
                  - stopSalesByIngredients
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-production-stop-sales-statistics-ingredients
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            example: '2011-08-01T18:31:42'
            format: date-time
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601
          style: form
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601
          style: form
      description: |-
        Возвращает данные о стопах продаж за период для набора пиццерий (`units`).
        Стопы сгруппированы по пиццериям и ингридиентам.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Authorization:
            - stopsales
            - 'user.role:read'
      tags:
        - Производство
    parameters: []
  /production/stop-sales-products:
    get:
      summary: Производство → Стоп-продажи по продуктам
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  stopSalesByProduct:
                    type: array
                    description: Данные о стопах продаж сгруппированные по заведениям и продуктам
                    items:
                      $ref: '#/components/schemas/StopSalesByProductsItem'
                required:
                  - stopSalesByProduct
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-production-stop-sales-statistics-products
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            example: '2011-08-01T18:31:42'
            format: date-time
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601
          style: form
        - schema:
            type: string
            example: '2011-09-02T19:21:53'
            format: date-time
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601
          style: form
      description: |-
        Возвращает данные о стопах продаж за период для набора пиццерий (`units`).
        Стопы сгруппированы по пиццериям и продуктам.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      security:
        - Authorization:
            - stopsales
            - 'user.role:read'
      tags:
        - Производство
    parameters: []
  /production/unit-workload-by-orders:
    get:
      summary: Производство → Нагрузка на заведение по заказам
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  unitWorkload:
                    type: array
                    x-stoplight:
                      id: f9oy9ywp0m5q0
                    items:
                      x-stoplight:
                        id: momt4rpe6d6pp
                      type: object
                      properties:
                        unitId:
                          $ref: '#/components/schemas/UnitId'
                        fromLocal:
                          type: string
                          x-stoplight:
                            id: eh4rlgv7b4wcc
                          format: date-time
                          description: Начало периода
                          example: '2024-07-29T00:00:00'
                          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
                        toLocal:
                          type: string
                          x-stoplight:
                            id: l6a2m4u9cgxh8
                          format: date-time
                          description: Окончание периода
                          example: '2024-07-29T01:00:00'
                          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
                        ordersCount:
                          type: integer
                          x-stoplight:
                            id: qj6x45hhkvssv
                          format: int32
                          description: Количество заказов за период
                          example: 13
                          minimum: 0
                      required:
                        - unitId
                        - fromLocal
                        - toLocal
                        - ordersCount
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - unitWorkload
                  - isEndOfListReached
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос


            Коды ошибок блока `details.errors`:
             - `Required` - не передано обязательное поле
             - `InvalidInput` - передано невалидное значение для параметра
             - `UnitNotFound` - заведение не найдено
             - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
             - `ToManyProducts` - количество переданных продуктов превышает лимит в одном запросе
             - `DateOutOfRange` - превышен максимальный временной период запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:

            `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-production-unit-workload-by-orders
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/salesChannels'
        - $ref: '#/components/parameters/productCategories'
        - $ref: '#/components/parameters/orderSources'
        - $ref: '#/components/parameters/periodIntervalInMinutes'
        - $ref: '#/components/parameters/products'
        - $ref: '#/components/parameters/bakedOnly'
      description: |-
        Позволяет получить нагрузку по заказам на заведение за период в разрезе часа.

        В ответе будут включены только те промежутки, в которых производились заказы по заданному фильтру. Так например если заведение работает с 09:00 - 23:00, то в ответе будут только промежутки между 09:00 - 23:00. Любой отсутствующий промежуток можно считать за 0.

        ### Исключенные данные:
        Из выборки исключаются следующие данные:
          - Заказы со статусами отмененные и возвращенные заказы
          - Заказы типа "питание команды"
          - Бракованные продукты в заказах

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `toDate` и `fromDate` параметрами не должен превышать 14 деней;
        4. Временная часть (часы:минуты:секунды) в параметре `toDate` игнорируется. К дате из параметра `toDate` автоматически добавляется 1 день для формирования периода.
        Это гарантирует, что все данные за конечную дату включены в результаты.

        > Примеры:
        >
        >   При запросе с `'fromDate': '2025-06-16T00:00:00', 'toDate': '2025-06-16T23:59:59'` ->
        >   Фактически обрабатывается период: `2025-06-16 00:00:00` - `2025-06-17 00:00:00` (добавляется +1 день к toDate)
        > 
        >   При запросе с `'fromDate': '2025-06-16T00:00:00', 'toDate': '2025-06-17T00:00:00'` ->
        >   Фактически обрабатывается период: `2025-06-16 00:00:00` - `2025-06-18 00:00:00`
        5. В `products` можно перечислить до 30 заведений в одном запросе;
        6. В `products` следует перечислять UUID-ы строго через запятую без пробелов;

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      tags:
        - Производство
      security:
        - Authorization:
            - productionefficiency
            - 'user.role:read'
    parameters: []
  /production/unit-workload-by-products:
    get:
      summary: Производство → Нагрузка на заведение по продуктам
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  unitWorkload:
                    type: array
                    x-stoplight:
                      id: f9oy9ywp0m5q0
                    items:
                      x-stoplight:
                        id: momt4rpe6d6pp
                      type: object
                      properties:
                        unitId:
                          $ref: '#/components/schemas/UnitId'
                        fromLocal:
                          type: string
                          x-stoplight:
                            id: eh4rlgv7b4wcc
                          format: date-time
                          description: Начало периода
                          example: '2024-07-29T00:00:00'
                          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
                        toLocal:
                          type: string
                          x-stoplight:
                            id: l6a2m4u9cgxh8
                          format: date-time
                          description: Окончание периода
                          example: '2024-07-29T01:00:00'
                          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
                        productsCount:
                          type: integer
                          x-stoplight:
                            id: qj6x45hhkvssv
                          format: int32
                          description: Количество продуктов за период
                          example: 13
                          minimum: 0
                      required:
                        - unitId
                        - fromLocal
                        - toLocal
                        - productsCount
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - unitWorkload
                  - isEndOfListReached
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос


            Коды ошибок блока `details.errors`:
             - `Required` - не передано обязательное поле
             - `InvalidInput` - передано невалидное значение для параметра
             - `UnitNotFound` - заведение не найдено
             - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
             - `ToManyProducts` - количество переданных продуктов превышает лимит в одном запросе
             - `DateOutOfRange` - превышен максимальный временной период запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:
            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:

            `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-production-unit-workload-by-products
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/fromDate'
        - $ref: '#/components/parameters/toDate'
        - $ref: '#/components/parameters/salesChannels'
        - $ref: '#/components/parameters/productCategories'
        - $ref: '#/components/parameters/orderSources'
        - $ref: '#/components/parameters/products'
        - $ref: '#/components/parameters/bakedOnly'
      description: |-
        Позволяет получить нагрузку по продуктам на заведение за период в разрезе часа.

        В ответе будут включены только те промежутки, в которых производились заказы по заданному фильтру. Так например если заведение работает с 09:00 - 23:00, то в ответе будут только промежутки между 09:00 - 23:00. Любой отсутствующий промежуток можно считать за 0.

        ### Исключенные данные:
        Из выборки исключаются следующие данные:
        - Заказы со статусами отмененные и возвращенные заказы
        - Заказы типа "питание команды"
        - Бракованные продукты в заказах

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `toDate` и `fromDate` параметрами не должен превышать 14 деней.
        4. Временная часть (часы:минуты:секунды) в параметре `toDate` игнорируется. К дате из параметра `toDate` автоматически добавляется 1 день для формирования периода.
        Это гарантирует, что все данные за конечную дату включены в результаты.

        > Примеры:
        >
        >   При запросе с `'fromDate': '2025-06-16T00:00:00', 'toDate': '2025-06-16T23:59:59'` ->
        >   Фактически обрабатывается период: `2025-06-16 00:00:00` - `2025-06-17 00:00:00` (добавляется +1 день к toDate)
        > 
        >   При запросе с `'fromDate': '2025-06-16T00:00:00', 'toDate': '2025-06-17T00:00:00'` ->
        >   Фактически обрабатывается период: `2025-06-16 00:00:00` - `2025-06-18 00:00:00`
        5. В `products` можно перечислить до 30 заведений в одном запросе;
        6. В `products` следует перечислять UUID-ы строго через запятую без пробелов;

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      tags:
        - Производство
      security:
        - Authorization:
            - productionefficiency
            - 'user.role:read'
    parameters: []
  /delivery/statistics:
    parameters: []
    get:
      summary: Доставка → Статистика
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  unitsStatistics:
                    type: array
                    description: Основные метрики доставки
                    items:
                      $ref: '#/components/schemas/UnitDeliveryStatistics'
                required:
                  - unitsStatistics
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-delivery-statistics
      description: |
        Возвращает основные метрики по доставке за выбранный период по пиццериям (`units`).

        ### Расчет некоторых показателей:
        1. Процент доставки через курьерское приложение = `ordersWithCourierAppCount` / `deliveryOrdersCount`
        2. Количество заказов на курьера в час = `deliveryOrdersCount` / (`couriersShiftsDuration` / 3600)
        3. Загрузка кукрьеров = `tripsDuration` / `couriersShiftsDuration`

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.

        ### Исключенные данные:
        В ответ не попадают заказы с короткими поездками курьеров или быстрым приготовлением продуктов.
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            format: date-time
            example: '2011-08-01T18:31:42'
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601
          style: form
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601
          style: form
      x-internal: false
      security:
        - Authorization:
            - deliverystatistics
            - 'user.role:read'
      tags:
        - Доставка
  /delivery/vouchers:
    get:
      summary: Доставка → Сертификаты за опоздание
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  vouchers:
                    type: array
                    description: Сертификаты за опоздание
                    items:
                      $ref: '#/components/schemas/LateDeliveryVouchersItem'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - vouchers
                  - isEndOfListReached
        '400':
          description: Bad Request
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      operationId: get-delivery-vouchers
      description: |-
        Сертификаты за опоздание.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
      security:
        - Authorization:
            - deliverystatistics
            - 'user.role:read'
      tags:
        - Доставка
    parameters: []
  /delivery/efficiency:
    parameters: []
    get:
      summary: Доставка → Эффективность
      tags:
        - _in_development
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  unitDeliveryEfficiency:
                    type: array
                    description: Еффективность доставки по пиццериям
                    items:
                      $ref: '#/components/schemas/UnitDeliveryEfficiency'
                required:
                  - unitDeliveryEfficiency
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-delivery-efficiency
      description: |-
        Возвращает метрики эффективности доставки за выбранный диапазон и по пиццериям (`units`).

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день.
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            format: date-time
            example: '2011-08-01T18:31:42'
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601
          style: form
        - schema:
            type: string
            format: date-time
            example: '2011-09-02T19:21:53'
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601
          style: form
      security:
        - Authorization:
            - deliverystatistics
            - 'user.role:read'
  /delivery/couriers-orders:
    get:
      summary: Доставка → Заказы курьеров
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  couriersOrders:
                    type: array
                    description: Заказы курьеров
                    items:
                      $ref: '#/components/schemas/CouriersOrdersItem'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - isEndOfListReached
      operationId: get-delivery-couriers-orders
      security:
        - Authorization:
            - deliverystatistics
            - 'user.role:read'
      parameters:
        - $ref: '#/components/parameters/units'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
      description: |-
        Метрики по каждому заказу курьеров.

        Время в параметрах в возвращаемом ответе отдаётся по UTCefficiency

        Параметры `from` и `to` определяют фильтрация заказов по дате их создания и внесенных изменений.

        ### Требования к query параметрам:
        - `units` не может быть больше 30
        - `take` не может быть меньше 0 или больше 1000

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      tags:
        - Доставка
  /delivery/delivery-sectors:
    get:
      summary: Доставка → Сектора доставки
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliverySectors:
                    type: array
                    description: Данные по секторам доставки
                    items:
                      $ref: '#/components/schemas/DeliverySectorsItem'
                required:
                  - deliverySectors
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-delivery-sectors
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: boolean
          in: query
          name: showDeleted
          description: 'Флаг, указывающий необходимо ли показывать удаленные сектора'
        - schema:
            type: boolean
          in: query
          name: showSubSectors
          description: 'Флаг, указывающий необходимо ли показывать под-сектора (нарисованные из менеджера смены)'
      description: |-
        Возвращает данные о секторах доставки

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 отделов в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      security:
        - Authorization:
            - deliverystatistics
            - 'user.role:read'
      tags:
        - Доставка
    parameters: []
  /delivery/stop-sales-sectors:
    get:
      summary: Доставка → Стоп-продажи по секторам
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  stopSalesBySectors:
                    type: array
                    description: Данные о стопах продаж сгруппированные по заведениям и секторам
                    items:
                      $ref: '#/components/schemas/StopSalesBySectorsItem'
                required:
                  - stopSalesBySectors
        '400':
          description: Bad Request (from or to parameter is missing)
        '401':
          description: '#### Пользователь не авторизован'
      operationId: get-delivery-stop-sales-sectors
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            example: '2011-08-01T18:31:42'
            format: date-time
          in: query
          name: from
          required: true
          description: Начало периода в формате ISO 8601. Время указывается в UTC.
          style: form
        - schema:
            type: string
            example: '2011-09-02T19:21:53'
            format: date-time
          in: query
          name: to
          required: true
          description: Конец периода в формате ISO 8601. Время указывается в UTC.
          style: form
      description: |-
        Возвращает данные о стопах продаж за период для набора пиццерий (`units`).
        Стопы сгруппированы по пиццериям и секторам.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Диапазон дат между `to` и `from` параметрами не должен превышать 31 день;
        4. Начальная дата периода `to` - не раньше 1 апреля 2023 года.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Authorization:
            - stopsales
            - 'user.role:read'
      tags:
        - Доставка
    parameters: []
  /staff/members:
    get:
      summary: Команда → Список сотрудников
      responses:
        '200':
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffMembersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: string
                example: '''HiredFrom'' should be greater than ''HiredTo'''
                description: Сообщение об ошибке
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          $ref: '#/components/responses/PersonalDataForbidden'
        '500':
          description: Internal Server Error
      operationId: get-staff-members
      parameters:
        - schema:
            type: string
            enum:
              - Operator
              - KitchenMember
              - Courier
              - Cashier
              - PersonalManager
            example: KitchenMember
          example: KitchenMember
          in: query
          name: staffType
          description: Тип сотрудников
        - schema:
            type: string
            example: 'Suspended,Dismissed'
          in: query
          name: statuses
          description: 'Состояние сотрудников. Можно указать несколько значений для поиска, перечислив их через запятую. Разрешенные значения: `Dismissed` - уволен, `Suspended` - отстранен, `Active` - работает.'
        - schema:
            type: string
            format: date
            example: '2022-10-20'
          in: query
          name: hiredFrom
          description: 'Фильтр по дате трудоустройства сотрудников, начало диапазона'
        - schema:
            type: string
            format: date
            example: '2022-10-27'
          in: query
          name: hiredTo
          description: 'Фильтр по дате трудоустройства сотрудников, конец диапазона'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
        - schema:
            type: string
            format: date
            example: '2022-10-20'
          in: query
          name: dismissedFrom
          description: 'Фильтр по дате увольнения сотрудников, начало диапазона'
        - schema:
            type: string
            format: date
            example: '2022-10-27'
          in: query
          name: dismissedTo
          description: 'Фильтр по дате увольнения сотрудников, конец диапазона'
        - schema:
            type: string
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13'
          in: query
          name: units
          description: Список заведений (пиццерий) Dodo IS в формате UUID
        - schema:
            type: string
            format: date
            example: '2022-11-20'
          in: query
          name: lastModifiedFrom
          description: 'Фильтр по дате изменения, начало диапазона'
        - schema:
            type: string
            format: date
            example: '2022-11-27'
          in: query
          name: lastModifiedTo
          description: 'Фильтр по дате изменения сотрудников, конец диапазона'
      description: |-
        Возвращает список сотрудников, отсортированный по дате трудоустройства (`hiredOn`).

        ### Требования к query параметрам:
        - фильтр по типу должности `staffType` применяется только по одному значению
        - фильтр по статусу `statuses` применяется по нескольким значениям (указывается через запятую без пробелов)
        - фильтр по дате трудоустройства `hiredFrom/hiredTo`, применяется как по промежутку дат, так и по отдельным from/to датам
        - фильтр по дате увольнения `dismissedFrom/dismissedTo`, применяется как по промежутку дат, так и по отдельным from/to датам
        - фильтр по дате изменения `lastModifiedFrom/lastModifiedTo`, применяется как по промежутку дат, так и по отдельным from/to датам
        - фильтр по заведениям `units` применяется по нескольким значениям; если не указан, то будут выданы записи по всем доступным для пользователя заведениям
        - фильтр `skip` должен быть больше 0, иначе возвращается 400
        - фильтр `take` должен быть больше 0 и меньше либо равен 1000, иначе возвращается 400
        - фильтр `hiredFrom` должен быть не больше `hiredTo`, иначе возвращается 400
        - фильтр `dismissedFrom` должен быть не больше `dismissedTo`, иначе возвращается 400
        - фильтр `lastModifiedFrom` должен быть не больше `lastModifiedTo`, иначе возвращается 400
        - разрешенные значения для фильтров `staffType`, `statuses` указаны в их описаниях

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Authorization:
            - 'staffmembers:read'
            - 'user.role:read'
      tags:
        - Команда
    parameters: []
  /staff/incentives/premium/one-time:
    post:
      summary: Команда → Премия единоразовая
      operationId: post-staff-incentives-premium-one-time
      security:
        - Authorization:
            - incentives
            - 'user.role:read'
      description: |-
        Метод позволяет назначить единоразовую премию сотруднику.

        ### Требования к query параметрам:
        1. Параметр `onLocal` может принимать дату и время в пределах текущего отчетного периода заведения, где работает сотрудник (по стандарту — до 5-го числа месяца, следующего за отчётным периодом). Например, если отчетный период для заведения закрывается 5-го числа, то:
           - если текущая дата ≤ 5-го числа, премии можно начислять, начиная с 1-го числа предыдущего месяца.
           - если текущая дата > 5-го числа, премии можно начислять, начиная с 1-го числа текущего месяца.
        2. Значение параметра `onLocal` не может быть позже текущего времени заведения, в котором работает сотрудник.

        > #### Доступно для следующих ролей:
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Division administrator` - Администратор подразделения
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                staffId:
                  type: string
                  format: uuid
                  description: Идентификатор сотрудника
                  example: 000d3a240c719a8711e68aba13f7fe13
                  pattern: '[0-9a-f]{32}'
                  minLength: 32
                  maxLength: 32
                onLocal:
                  type: string
                  format: date-time
                  description: Дата премии в локальном времени
                  example: '2023-11-15T09:00:00'
                amount:
                  type: number
                  format: double
                  description: Сумма премии
                  example: 1000.5
                  minimum: 0
                  exclusiveMinimum: true
                comment:
                  type: string
                  description: Комментарий к премии
                  example: Премия за отличную работу
              required:
                - staffId
                - onLocal
                - amount
      responses:
        '204':
          description: Премия успешно добавлена
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
            - `ValidationError` - передан некорректный запрос
            - `PremiumInPast` - добавление премии за предел отчетного месяца в прошлое
            - `PremiumInFuture` - добавление премии в будущем

            Коды ошибок блока `details.errors`:
            - `Required` - не передано обязательное поле
            - `InvalidInput` - передано невалидное значение для параметра
            - `NegativeValue` - передано отрицательное значение для параметра принимающего только положительные числа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:

            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
            - `NoAccessToStaffMember` - сотрудник не найден или нет доступа к сотруднику
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      tags:
        - Команда
  /staff/incentives/premium/hourly:
    post:
      summary: Команда → Премия к вознаграждению в час
      operationId: post-staff-incentives-premium-hourly
      security:
        - Authorization:
            - incentives
            - 'user.role:read'
      description: |-
        Метод позволяет назначить премию к вознаграждению за час на определённый промежуток времени сотруднику.

        ### Требования к query параметрам:
        1. Параметры `fromLocal` и `toLocal` могут принимать дату и время в пределах текущего отчетного периода заведения, где работает сотрудник (по стандарту — до 5-го числа месяца, следующего за отчётным периодом). Например, если отчетный период для заведения закрывается 5-го числа, то:
           - если текущая дата ≤ 5-го числа, премии можно начислять, начиная с 1-го числа предыдущего месяца.
           - если текущая дата > 5-го числа, премии можно начислять, начиная с 1-го числа текущего месяца.
        2. Значения параметров `fromLocal` и `toLocal` не могут быть позже текущего времени заведения, в котором работает сотрудник.

        > #### Доступно для следующих ролей:
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Division administrator` - Администратор подразделения
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                staffId:
                  type: string
                  format: uuid
                  description: Идентификатор сотрудника
                  example: 000d3a240c719a8711e68aba13f7fe13
                  pattern: '[0-9a-f]{32}'
                  minLength: 32
                  maxLength: 32
                fromLocal:
                  type: string
                  format: date-time
                  description: Начало периода премии в локальном времени
                  example: '2023-11-01T09:00:00'
                toLocal:
                  type: string
                  format: date-time
                  description: Конец периода премии в локальном времени
                  example: '2023-11-30T18:00:00'
                amount:
                  type: number
                  format: double
                  description: Сумма премии за час
                  example: 50
                  minimum: 0
                  exclusiveMinimum: true
                comment:
                  type: string
                  description: Комментарий к премии
                  example: Премия за дополнительную нагрузку
              required:
                - staffId
                - fromLocal
                - toLocal
                - amount
      responses:
        '204':
          description: Премия успешно добавлена
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
            - `ValidationError` - передан некорректный запрос
            - `PremiumInPast` - добавление премии за предел отчетного месяца в прошлое
            - `PremiumInFuture` - добавление премии в будущем
            - `NoShiftsForStaffMember` - у сотрудника за переданный период не было ни одной смены.

            Коды ошибок блока `details.errors`:
            - `Required` - не передано обязательное поле
            - `InvalidInput` - передано невалидное значение для параметра
            - `NegativeValue` - передано отрицательное значение для параметра принимающего только положительные числа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:

            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
            - `NoAccessToStaffMember` - сотрудник не найден или нет доступа к сотруднику
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      tags:
        - Команда
  /staff/incentives/premium/position:
    post:
      summary: Команда → Премия по должности к вознаграждению в час
      operationId: post-staff-incentives-premium-position
      security:
        - Authorization:
            - incentives
            - 'user.role:read'
      description: |-
        Метод позволяет назначить премию к вознаграждению за час сотрудникам на определённых должностях в конкретном заведении на определённый промежуток времени.

        ### Требования к query параметрам:
        1. Параметры `fromLocal` и `toLocal` могут принимать дату и время в пределах текущего отчетного периода заведения, где работает сотрудник (по стандарту — до 5-го числа месяца, следующего за отчётным периодом). Например, если отчетный период для заведения закрывается 5-го числа, то:
           - если текущая дата ≤ 5-го числа, премии можно начислять, начиная с 1-го числа предыдущего месяца.
           - если текущая дата > 5-го числа, премии можно начислять, начиная с 1-го числа текущего месяца.
        2. Значения параметров `fromLocal` и `toLocal` не могут быть позже текущего времени заведения, в котором работает сотрудник.

        > #### Доступно для следующих ролей:
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Division administrator` - Администратор подразделения
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                unitId:
                  type: string
                  format: uuid
                  description: Идентификатор заведения
                  example: 000d3a240c719a8711e68aba13f7fe13
                  pattern: '[0-9a-f]{32}'
                  minLength: 32
                  maxLength: 32
                staffPosition:
                  type: string
                  description: Идентификатор должности сотрудника
                  format: uuid
                  example: 000d3a240c719a8711e68aba13f7fe13
                  minLength: 32
                  maxLength: 32
                  pattern: '[0-9a-f]{32}'
                fromLocal:
                  type: string
                  format: date-time
                  description: Начало периода премии в локальном времени
                  example: '2023-11-01T09:00:00'
                toLocal:
                  type: string
                  format: date-time
                  description: Конец периода премии в локальном времени
                  example: '2023-11-30T18:00:00'
                amount:
                  type: number
                  format: double
                  description: Сумма премии за час
                  example: 50
                  minimum: 0
                  exclusiveMinimum: true
                comment:
                  type: string
                  description: Комментарий к премии
                  example: Премия за работу в праздничные дни
              required:
                - unitId
                - staffPosition
                - fromLocal
                - toLocal
                - amount
      responses:
        '204':
          description: Премия успешно добавлена
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
            - `ValidationError` - передан некорректный запрос
            - `PremiumInPast` - добавление премии за предел отчетного месяца в прошлое
            - `PremiumInFuture` - добавление премии в будущем
            - `NoShiftsForStaffMember` - за переданный период нет ни одной смены сотрудников с переданной должностью

            Коды ошибок блока `details.errors`:
            - `Required` - не передано обязательное поле
            - `InvalidInput` - передано невалидное значение для параметра
            - `NegativeValue` - передано отрицательное значение для параметра принимающего только положительные числа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:

            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
            - `NoAccessToStaffMember` - сотрудник не найден или нет доступа к сотруднику
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      tags:
        - Команда
  /staff/incentives/premium:
    get:
      summary: Команда → Премии
      operationId: get-staff-incentives-premium
      security:
        - Authorization:
            - incentives
            - 'user.role:read'
      description: |-
        Метод позволяет получить список установленных премий сотрудникам в указанных заведениях за определённый период.

        ### Требования к query параметрам:
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. В ответе будут отображены все премии, которые попадают в запрашиваемый период `from`-`to` полностью или частично.

        > #### Доступно для следующих ролей:
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Division administrator` - Администратор подразделения
      parameters:
        - $ref: '#/components/parameters/units'
        - name: staffMembers
          in: query
          required: false
          schema:
            type: string
            description: Список сотрудников в формате UUID
            example: '000d3a240c719a8711e68aba13f7fe13,000d3a240c719a8711e68aba13f7fc8b'
        - name: staffPositions
          in: query
          required: false
          schema:
            type: string
            description: Список должностей в формате UUID
            example: '111d3a240c719a8711e68aba13f7fe13,111d3a240c719a8711e68aba13f7fe14'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  premiums:
                    type: array
                    items:
                      type: object
                      properties:
                        unitId:
                          $ref: '#/components/schemas/UnitId'
                        staffId:
                          $ref: '#/components/schemas/StaffId'
                        staffPositionId:
                          type: string
                          format: uuid
                          description: Идентификатор должности
                          example: 111d3a240c719a8711e68aba13f7fe13
                          pattern: '[0-9a-f]{32}'
                          minLength: 32
                          maxLength: 32
                          x-stoplight:
                            id: 9n75yoe8rowz7
                          nullable: true
                        fromLocal:
                          type: string
                          format: date-time
                          description: Дата начала премии в локальном времени
                          example: '2023-11-01T00:00:00'
                        toLocal:
                          type: string
                          format: date-time
                          description: Дата окончания премии в локальном времени
                          example: '2023-11-30T23:59:59'
                        premiumType:
                          type: string
                          description: Тип премии
                          enum:
                            - Fixed
                            - Rate
                          example: Fixed
                        amount:
                          type: number
                          format: double
                          description: Значение премии
                          example: 1000
                          minimum: 0
                          exclusiveMinimum: true
                        comment:
                          type: string
                          description: Комментарий к премии
                          example: Премия за отличную работу
                          nullable: true
                        createdAtLocal:
                          type: string
                          format: date-time
                          description: Дата и время создания премии в локальном времени
                          example: '2023-11-01T09:00:00'
                        createdBy:
                          type: string
                          format: uuid
                          description: Идентификатор пользователя добавившего премию
                          example: 000d3a240c719a8711e68aba13f7fe13
                          pattern: '[0-9a-f]{32}'
                          minLength: 32
                          maxLength: 32
                        modifiedAt:
                          type: string
                          format: date-time
                          description: Дата и время последнего изменения премии (UTC)
                          example: '2023-11-15T09:00:00'
                          x-stoplight:
                            id: 3hcf099lvmuq9
                        modifiedBy:
                          type: string
                          format: uuid
                          description: 'Идентификатор пользователя, внесшего последнее изменение'
                          example: 000d3a240c719a8711e68aba13f7fe13
                          pattern: '[0-9a-f]{32}'
                          minLength: 32
                          maxLength: 32
                          nullable: true
                        modifiedAtLocal:
                          type: string
                          format: date-time
                          description: Возвращает UTC вместо локального времени
                          example: '2023-11-15T09:00:00'
                          deprecated: true
                  isEndOfListReached:
                    type: boolean
                    description: 'Индикатор того, что достигнут конец списка. Выдаёт true, если достигнут конец списка'
                    example: true
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
            - `ValidationError` - передан некорректный запрос

            Коды ошибок блока `details.errors`:
            - `Required` - не передано обязательное поле
            - `InvalidInput` - передано невалидное значение для параметра
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: '#### Не авторизован'
        '403':
          description: |-
            #### Недостаточно прав

            Коды ошибок:

            - `InsufficientRoles` - отсутвует необходимая роль для выполнения запроса
            - `InsufficientScopes` - нет доступа к api. В токене не передан необходымый scope.
            - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            #### Внутренняя ошибка сервера

            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      tags:
        - Команда
    parameters: []
  /staff/members/search:
    get:
      summary: Команда → Поиск сотрудников
      responses:
        '200':
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffMembersSearchResponse'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          $ref: '#/components/responses/PersonalDataForbidden'
        '500':
          description: Internal Server Error
      operationId: get-staff-members-search
      parameters:
        - schema:
            type: string
            example: Иван
            nullable: true
          in: query
          name: firstName
          description: Имя
        - schema:
            type: string
            example: Иванов
            nullable: true
          in: query
          name: lastName
          description: Фамилия
        - schema:
            type: string
            example: Иванович
            nullable: true
          in: query
          name: patronymicName
          description: Отчество
        - schema:
            type: string
            example: '123456789112'
            nullable: true
          in: query
          name: taxpayerIdentificationNumber
          description: ИНН
        - schema:
            type: string
            example: '%2B779095991202'
            nullable: true
          in: query
          name: phoneNumber
          description: Телефон. Если в телефоне есть символ '+' необходимо передавать код символа '%2B'. Например '+7' -> '%2B7'.
        - schema:
            type: string
            format: date
            example: '1995-06-01'
            nullable: true
          in: query
          name: dateOfBirth
          description: Дата рождения
      description: |-
        Возвращает список сотрудников с данными о трудоустройстве.
        Для поиска используется алгоритм, который описан ниже, а результирующие персональные данные скрываются. 

        ### ВАЖНО: 
        Алгоритм рассматривает только указанные ниже группы совпадений!
        В результирующий список попадут все найденные записи, удовлетворяющие нижеперечисленным группам совпадения.

        ## Группировка запросов для алгоритма поиска

        ### 6 совпадений:

        Фамилия - Имя - Отчество - Номер телефона - Дата Рождения - ИНН

        ### 5 совпадений:

        Фамилия - Имя - Номер телефона - Дата Рождения - ИНН

        ### 4 совпадения:

        Фамилия - Имя - Номер телефона - Дата Рождения

        ### 3 совпадения:

        Фамилия - Имя - Номер телефона

        Фамилия - Имя - Дата Рождения

        Фамилия - Имя - ИНН

        ### 2 совпадения:

        Фамилия - Имя

        Фамилия - Номер телефона

        Фамилия - Дата рождения

        Фамилия - ИНН

        ### 1 совпадение:

        Номер телефона

        ИНН

        ### Требования к query параметрам:
        1. Если входные параметры поиска не попадают ни в одну из указанных групп, то вернется пустой результат
        2. Все совпадения, обнаруженные по указанным выше группам, будут включены в общий результат
        3. При передаче query-параметров в URL необходимо кодировать зарезервированные символы, такие как `+`, так как они могут интерпретироваться иначе. Например, если значение параметра `phoneNumber` начинается с `+`, как в `+79999999999`, то символ + должен быть закодирован как `%2B`. В результате значение должно выглядеть так: `%2B79999999999`.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      security:
        - Authorization:
            - staffmembersearch
            - 'user.role:read'
      tags:
        - Команда
    parameters: []
  /staff/members/birthdays:
    get:
      summary: Команда → Поиск дней рождения сотрудников
      responses:
        '200':
          description: Успешное выполнение запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStaffMembersBirthdaysResponse'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          $ref: '#/components/responses/PersonalDataForbidden'
        '500':
          description: Internal Server Error
      operationId: get-staff-members-birthdays
      parameters:
        - schema:
            type: string
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13'
            nullable: true
          in: query
          name: units
          description: Список заведений (пиццерий) Dodo IS в формате UUID
          required: true
        - schema:
            type: integer
            nullable: true
            minimum: 1
            maximum: 31
            example: 11
          in: query
          name: dayFrom
          required: true
          description: 'День месяца, с которого начинается выбранный диапазон дат'
        - schema:
            type: integer
            nullable: true
            minimum: 1
            maximum: 12
            example: 11
          in: query
          name: monthFrom
          required: true
          description: 'Месяц, с которого начинается выбранный диапазон дат'
        - schema:
            type: integer
            example: 12
            nullable: true
            maximum: 12
            minimum: 1
          in: query
          name: monthTo
          required: true
          description: 'Месяц, которым заканчивается выбранный диапазон дат'
        - $ref: '#/components/parameters/skip'
        - in: query
          description: 'Количество записей, которые следует выбрать'
          name: take
          schema:
            type: integer
            example: 100
            minimum: 0
            maximum: 100
            default: 100
        - schema:
            type: integer
            minimum: 1
            maximum: 31
            example: 15
          in: query
          name: dayTo
          required: true
          description: 'День месяца, которым заканчивается выбранный диапазон дат'
      description: Возвращает список дней рождения сотрудников во включающем диапазоне переданных дат
      security:
        - Authorization:
            - 'staffmembers:read'
            - 'user.role:read'
      tags:
        - Команда
    parameters: []
  '/staff/members/{id}':
    parameters:
      - schema:
          type: string
          example: 000d3a240c719a8711e68aba13f7fe13
        name: id
        in: path
        required: true
        description: Уникальный идентификатор сотрудника в формате UUID
    get:
      summary: Команда → Информация о сотруднике
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffMember'
        '400':
          $ref: '#/components/responses/Errors'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          $ref: '#/components/responses/PersonalDataForbidden'
        '500':
          description: Internal Server Error
      operationId: get-staff-members-id
      description: |-
        Возвращает полную информацию по запрошенному сотруднику.

        Вы можете запросить информацию о сотруднике как по идентификатору сотрудника (`staffId`), так и по идентификатору пользователя (`userId`). Для этого необходимо указать дополнительный параметр `findby`. Данный параметр принимает 2 значения:
         - `staffid` - для поиска по идентификатору сотрудника (используется как стандартное значение)
         - `userid` - для поиска по идентификатору пользователя

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены.
        >
        >   `Employee` - Сотрудник. Получение данных **только о самом себе**
      security:
        - Authorization:
            - 'staffmembers:read'
            - 'user.role:read'
      parameters:
        - schema:
            type: string
            default: staffid
            enum:
              - staffid
              - userid
            example: staffid
          in: query
          name: findby
          description: Способ поиска сотрудника.
      tags:
        - Команда
  '/staff/members/{id}/suspend':
    parameters:
      - schema:
          type: string
          format: uuid
          example: 000d3a240c719a8711e68aba13f7fe13
        name: id
        in: path
        required: true
        description: id отстраняемого сотрудника
    post:
      summary: Команда → Отстранение сотрудника
      tags:
        - Команда
      operationId: post-staff-members-id-suspend
      responses:
        '200':
          description: Успешное выполнение запроса
        '400':
          description: |-
            Ошибки валидации параметров запроса.
            Возможные варианты ошибок:
              - Parameter 'StaffId' must not be empty;
              - Parameter 'SuspendingFrom' must not be empty;
              - Parameter 'SuspendingFrom' must be greater or equal than to today;
              - Parameter 'SuspendingTo' must be greater or equal than SuspendingFrom;
              - Parameter 'Reason' is not found;
              - Parameter 'Comment' must not be empty and no longer than 255.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Error'
        '401':
          description: '#### Пользователь не авторизован'
        '403':
          description: Отсутствует доступ к сотруднику
        '409':
          description: Статус сотрудника с переданным Id не 'Активен'
      description: |-
        Отстраняет сотрудника по id.

        Отстраненный сотрудник не участвует в штатной деятельности пиццерии:
         - выход на смены;
         - учет в штатных метриках пиццерии (текучесть, укомплектованность и т.д.).

        Отстранить можно только сотрудника, который сейчас находится в статусе Активен.

        Даты и время отстранения, передаваемые в API, ожидаются в UTC и далее будут приведены к локальным датам и времени относительно департамента отстраянемого сотрудника.

        Список идентификаторов причин для отстранения:
         - dc1746fb4916483797b16af1c8eae7a2 - просрочена мед. книжка;
         - 2206cdfd19564b1b9e52afded480d8c0 - отпуск;
         - c3e2ece1c8374e2681ba0750ca65dd82 - больничный;
         - 3f8481fdfa0a4be0b3c0a966c3ad0f39 - просрочено разрешение на работу или регистрация;
         - 64d65e1a72c1472c8a3175d0415e618f - другое.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffMemberSuspend'
      security:
        - Authorization:
            - 'staffmembers:write'
            - 'user.role:read'
  /staff/members/directors:
    get:
      summary: Команда → Контакты руководителей
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  directors:
                    type: array
                    items:
                      $ref: '#/components/schemas/DirectorInfo'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - directors
                  - isEndOfListReached
        '400':
          description: |-
            Некорректный запрос.
            Коды ответа:
             - `ValidationError` - передан некорректный запрос
            Коды ошибок блока details.errors:
             - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе
             - `ValueTooLarge` - значение параметра `take` больше 1000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContractBadRequest'
        '401':
          description: Пользователь не авторизован
        '403':
          description: |-
            Недостаточно прав
            Коды ошибок:
             - `NoAccessToUnit` - нет доступа к заведению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
        '500':
          description: |-
            Внутренняя ошибка сервера
            Коды ошибок:
             - `InternalError` - внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorContract'
      operationId: get-staff-members-directors
      description: |
        Возвращает список руководителей доступных заведений.  
        Для получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`). 
        ### Требования к query параметрам:
        1. Все параметры для запроса не являются обязательными к указанию;
        1. В `units` можно перечислить до 30 заведений в одном запросе;
        2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;
        3. Если в запросе не будут указаны параметры `units` и `userId`, то будет возвращён общий список руководителей доступных заведений;
        4. Фильтр по типу руководителя `directorType` применяется только по одному значению.
        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
      security:
        - Authorization:
            - 'staffmembers:read'
            - 'user.role:read'
      parameters:
        - schema:
            type: string
            enum:
              - DepartmentDirector
              - UnitDirector
              - ScheduleManager
              - HRManager
              - CommunicationsManager
              - MarketingManager
              - SupplyManager
            example: HRManager
          in: query
          name: directorType
          description: Фильтр по типу руководителя
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
        - schema:
            type: string
            example: 000d3a23b0dc40dc11e712011e0c21f1
            pattern: '[0-9a-f]{32}'
            minLength: 32
            maxLength: 32
          in: query
          name: userId
          description: Идентификатор пользователя сотрудника
        - schema:
            type: string
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13'
          in: query
          name: units
          description: Список заведений (пиццерий) Dodo IS в формате UUID
      tags:
        - Команда
    parameters: []
  /staff/shifts:
    get:
      summary: Команда → Смены сотрудников (по пиццериям)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  shifts:
                    type: array
                    description: Смены (рабочее время) сотрудников
                    items:
                      $ref: '#/components/schemas/StaffShiftItem'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - shifts
                  - isEndOfListReached
        '400':
          description: Bad Request
        '401':
          description: '#### Пользователь не авторизован'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      operationId: get-staff-shifts
      security:
        - Authorization:
            - 'staffshifts:read'
            - 'user.role:read'
      parameters:
        - $ref: '#/components/parameters/units'
        - schema:
            type: string
            format: date-time
            example: '2022-01-01T11:00:00'
          in: query
          name: clockInFrom
          description: 'Начало периода, в который попадает начало смен'
          required: true
        - schema:
            type: string
            format: date
            example: '2022-01-02'
          in: query
          name: clockInTo
          description: 'Конец периода, в который попадает начало смен'
          required: true
        - schema:
            type: string
            enum:
              - Operator
              - KitchenMember
              - Courier
              - Cashier
              - PersonalManager
            example: KitchenMember
          in: query
          name: staffTypeName
          description: Фильтр по типу сотрудника
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
      description: |-
        Смены сотрудников (рабочее время, рабочие часы, фактические часы): отработанное время с детализацией по дневным, ночным и праздничным часам (в минутах), данные о доставленных заказах, расстоянии, стаже сотрудника на момент смены.

        Смены выбираются по времени начала. Также есть фильтр по типу сотрудника. Время смен не обрезается по фильтру. Если начало смены попало в диапазон `clockInFrom` – `clockInTo` (отметки времени начала смены), то смена вернётся целиком.
        Для получения всех часов по каждому сотруднику нужно выкачать все смены за период и сгруппировать у себя по staffId.

        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      tags:
        - Команда
  /staff/members/shifts:
    get:
      summary: Команда → Смены сотрудников (по идентификаторам)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  shifts:
                    type: array
                    description: Смены (рабочее время) сотрудников
                    items:
                      $ref: '#/components/schemas/StaffShiftItem'
                  isEndOfListReached:
                    $ref: '#/components/schemas/IsEndOfListReached'
                required:
                  - shifts
                  - isEndOfListReached
        '400':
          description: Bad Request
        '401':
          description: '#### Пользователь не авторизован'
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      operationId: get-staff-shifts-by-members
      security:
        - Authorization:
            - 'staffshifts:read'
            - 'user.role:read'
      parameters:
        - schema:
            type: string
            format: uuid
            uniqueItems: true
            minItems: 1
            maxItems: 30
            example: '000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13'
          in: query
          name: staffIds
          description: Идентификаторы сотрудников в формате UUID (разделитель запятая)
          required: true
        - schema:
            type: string
            format: date-time
            example: '2022-01-01T11:00:00'
          in: query
          name: clockInFrom
          description: 'Начало периода, в который попадает начало смен'
          required: true
        - schema:
            type: string
            format: date
            example: '2022-01-02'
          in: query
          name: clockInTo
          description: 'Конец периода, в который попадает начало смен'
          required: true
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/take'
      description: |-
        Смены сотрудников (рабочее время, рабочие часы, фактические часы): отработанное время с детализацией по дневным, ночным и праздничным часам (в минутах), данные о доставленных заказах, расстоянии, стаже сотрудника на момент смены.

        Смены выбираются по времени начала. Также есть фильтр по типу сотрудника. Время смен не обрезается по фильтру. Если начало смены попало в диапазон `clockInFrom` – `clockInTo` (отметки времени начала смены), то смена вернётся целиком.
        Для получения всех часов по каждому сотруднику нужно выкачать все смены за период и сгруппировать у себя по staffId.


        ### Требования к query параметрам:
        1. В `staffIds` можно перечислить до 30 сотрудников в одном запросе;
        2. В `staffIds` следует перечислять UUID-ы строго через запятую без пробелов;
        3. `clockInFrom` должен быть меньше, чем `clockInTo`;


        > #### Доступно для следующих ролей:
        >
        >   `Division administrator` - Администратор подразделения
        >
        >   `Store Manager` - Менеджер офиса
        >
        >   `Shift supervisor` - Менеджер смены
      tags:
        - Команда
    parameters: []
  /staff/shifts/clock-out:
    post:
      summary: Команда → Закрытие смены
      operationId: post-staff-shifts-clock-out
      responses:
        '200':
          description: OK
        '400':
          description: |-
            #### Некорректный запрос.

            Коды ответа:
             - `ValidationError` - передан некорректный запрос


            Коды ошибок блока `details.errors`:
             - `Required` - не передано обязательное поле
[...]
